<section id="beasts">
  <h1>Beasties below...</h1>
  <%= render "diet_form" %>
  <section id="beast-list">
    <%= render "beast" %>
  </section>
</section>

<script id="beastsTemplate" type="text/template">
    // <%% debugger %>
    <article class="beast" id="beast-"+ <%%= beast.id %>>
    	<header>
    		<h1><%%= beast.name %></h1>
    		<%% if (beast.image_filename) { %>
    			<img src="/assets/<%%= beast.image_filename %>">
    		}
</script>