<section id="beasts">
  <h1>Beasties below...</h1>
  <%= render "diet_form" %>
  <section id="beast-list">
    <%= render "beast" %>
  </section>
</section>

<script id="beastsTemplate" type="text/template">
    <li>
        <%% beasts.forEach(function(beast) { %>
        <h1><%%= beast.name %></h1>
        <img src<%%= beast.image_filename) %>>
 		<%% }); %>
    </li>
</script>