<form action="/print" method="post">
  <label for="goods_services"> Name of Goods or Services Provided
    <input type="text" id="goods_services" name="goods_services">
  </label>
  <label for="cost"> Cost of Services Provided
    <input type="text" id="cost" name="cost">
  </label>
  <input type="submit">
</form>
