<html>
     <head>
          <title>Amazon Shop</title>
     </head>
     <body>
            <h1>Welcome to our site</h1>
            <nav>
                   <a href="/">products</a> |
                   <a href="/items/new">new releases</a>
            </nav>
            <%= yield %>
     </body>
</html>
