
<h2>Welcome</h2>

<!-- THE PART THAT MATTERS -->
<h4>Customer Registration List</h4>
<div class='customer-manager'>
  <ul class='customers'>
  </ul>

  <form class='customer-form'>
    <input type="text" name='name' placeholder="name">
    <input type="text" name='address' placeholder="address">
    <input type="text" name='email' placeholder="email">
    <input type="text" name='loyalty_code' placeholder="loyalty code">
    <input type="submit">
  </form>
</div>


<script id="customerTemplate" type="text/template">
    <li class="customer">
        <h1><%%= name %></h1>
        <div>address: <%%= address %></div>
        <div>email: <%%= email %></div>
        <div>loyalty code: <%%= loyalty_code %></div>
    </li>
</script>




