<form action="/posts" method="POST">
  <p>
    <input type="serial" name="id" placeholder="id" />
  </p>
  <p>
    <input type="text" name="name" placeholder="name" />
  </p>
  <p>
    <input type="decimal" name="price" placeholder="price"/>
  <p>
    <input type="text" name="description" placeholder="description" />
  </p>
  <p>
    <input type="integer" name="quantity" placeholder="quantity"/>
  <p>
  <p>
    <input type="date" name="created at" placeholder="date"/>
  </p>
  <input type="submit" value="New Item"/>
</form>