<html>
<head>
	<title>Kittens</title>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<h1>Kittens</h1>
	<!-- <nav>
		<form action="/product" method="POST">
		</form>
		<a href="/">all kittens</a> |
		<a href="/product/new">new kitten</a>
	</nav> -->
	<%= yield %>
</body>
</html>
