<div class="section group">
    <div class="col span_1_of_12">
    </div>
    <div class="col span_1_of_12">
    </div>
    <div class="col span_1_of_12">
    </div>
    <div class="col span_6_of_12 headline">
    <h1>WDI STOCKS</h1>
    </div>

</div>

<div class="section group">
    <div class="col span_3_of_12">
    </div>
    <div class="col span_3_of_12 subheader">
    <p>Please enter the stock ticker symbol for the company you would like information about</p>
    </div>
    <div class="col span_3_of_12">
    <center>
      <form action="/request">
        <input type ="text" name="ticker_symbol" placeholder="Invalid" style="padding: 10px; text-align: center; background-color: #EE6363;">

      </form>
    </div>
   <div class="col span_3_of_12">
    </div>
</div>

