<!DOCTYPE html>
<html>
<head>
	<title>AMAZONE E STORE</title>
</head>
<body>
	<h1>Welcome to AMAZONE E STORE</h1>
	<h3>What would you like to do?</h3>

<nav>
	<a href="/items/new">CREATE</a>
</nav>

	<%= yield %>


<p><a href="/">Back to Home</a></p>

</body>
</html>