<!DOCTYPE html>
<html>
<head>
	<title>AMAZONE E STORE</title>
	<link rel="stylesheet" href="/styles.css" />
</head>

<body>
<div class="pg_container">
	<div class="top_content">
		<h1>Welcome to AMAZONE E STORE</h1>
		<a href="/items/new">CREATE</a>
	
		<div class="content">
			<%= yield %>
		</div>

	</div>
	<p><a href="/">Back to Home</a></p>
</div>
</body>

</html>