<ul>
  <li><a href='/items/<%= item.item_id %>/view'>focus</a></li>
  <li><a href='/items/<%= item.item_id %>/edit'>edit</a></li>
  <li><a href='/items/<%= item.item_id %>/delete'>delete</a></li>
</ul>