<form action="/items" method="POST">  
  
  <ul>
    <li>item name: <input type="text" name="item_name" placeholder="item" /></li>
    <li>item price: $<input type="text" name="item_price" placeholder="0.00" /></li>
    <li>item description: <textarea name="item_description" placeholder="item description here"></textarea></li>
    <li>quantity in stock:<input type="text" name="item_quantity_in_inventory" placeholder="0" /></li>
    
    <li><input type="submit" value="add new inventory to database" /></li>
    
  </ul>
    
</form>
