<html>
<head>
  <title>Inventory Manager</title>
</head>
<body>
  <h1>heading 1 from layout</h1>
  <nav>
    NAV
    <ul>
  <li><a href = '/'>index</a></li>
  <li><a href = '/items/new'>new record </a></li>
  <!-- <li><a href = '/items/:id/view'> view single </a></li>
  <li><a href = '/items/:id/edit'> edit </a></li>
  <li><a href = '/items/:id/delete'> delete </a></li> -->
  </ul>
    <!-- <a href="/">all posts</a> |
    <a href="/posts/new">new post</a> -->
  </nav>
  <%= yield %>
</body>
</html>
