  <h3>Enter your name below:</h3>

  <form action="/name">
    <input type= "text" name="user_name" placefolder ="Type your name here.">
  </form>

  <form action="/photos">
    <input type= "file" name="photo" method= post>
    <input type= "submit" name="photo" value= "SUBMIT">

  </form>
