<html>

    <head>
      <title>Amazone E Store</title>
    </head>

        <body>

          <h2>WELCOME TO THE AMAZONE E_STORE!</h2>

              <nav>
                <a href="/"></a>
                <a href="/:id/add">Add Item</a>
                <a href="/:id/view">View Item</a>
                <a href="/:id/edit">Edit Item</a>
                <a href="/:id/delete">Remove an Item</a>
              </nav>

          <%= yield %>

        </body>
</html>
