<form action="/posts" method="POST">
  <p>
    <input type="text" name="title" placeholder="Title" />
  </p>
  <p>
    <input type="text" name="author" placeholder="Your Name" />
  </p>
  <p>
    <textarea name="body" placeholder="Enter Your Service Needs Here"></textarea>
  </p>
  <input type="submit" value="Send Request" />
</form>
