<div class="home_wrapper">

  <h2>Six Degrees of<h2>
  <h1>JOHNNY CASH</h1>

  <p class="home_paragraph_margin">If you want to see Johnny's Ring of Fire in action, you've come to the right place.</p>


  <h4>SIX DEGREES GENERATOR</h4>

      <form action="/waiting">
      <div>
          <label>
          <input id="name" type="text"  placeholder="CHOOSE AN ARTIST HERE" name="name" />
          </label>
          <input class="button_style" type="button" value="SUBMIT" />
      </div>
      </form>

<div>


