<div class="contact_waiting">

<body>
  <p>You typed in this artist - no artist -  </p>
  <p>We are searching to see how Jonny is related. Hold your horses.</p>
  <p> <a href = "/degrees.erb">SIMULATED FINISH </a></p>
</body>


</div>
