<!-- <form action="/fri">
  <input type="text" name="username" placeholder="Search">
  <button type="submit" >Search</button>
</form> -->

<input id="username" type="text" placeholder="Enter the name of the user" />
<button id="search_friend_button">Search</button>

<div id="show_button">Show</div>

<div id="show_div">
	<ul id="friend_list">
	</ul>
</div>
