body {
	padding-top: 60px;
	font-family: 'Old Standard TT', serif;
	text-align: center;
	background-image: url("http://rlv.zcache.com/vintage_old_fashioned_paper_background_flyer-r43495414bb234c9e87929b601b515c9b_vgvyf_8byvr_512.jpg");
	background-position: center;
	background-size: 210%;
}

ul {
	list-style: none;
	text-align: center;
	float: center;
}

h2 {
	line-height: 3px;
}