<h1>Students of WDI</h1>
<nav>
  <!-- Create -->

<a href="/students/new">add student</a>
<a href="/students/students">show students</a>
<a href="/students/edit">edit student</a>
<a href="/students/remove">remove student</a>
