
<div class="interface">
  <div class= "title">
<h1>Submit Your Favorite Artist & Album</h1>
</div>
<div class="details">
  <h3><em>Artist Name</em></h3>
</div>
<div class= "forms">
<form action="/artist_info" method="POST">
  <input type="text" placeholder="Artist Name" name="artist_name"/><br></br>
  <h3><em>Album Name</em></h3>
</div>
<div class= "forms">
<form action="/artist_info" method="POST">
  <input type="text" placeholder="Album Name" name="album_name"/><br></br>
  <input type="submit" value="Search" />
</form>
</div>
</div>
