<h1>Hi</h1>


 <form action="/form" method="post">
    <input type="text" name="somevalue">
    <input type="submit">
</form>

<form action="/play">
  <input type="radio" name="play" value="rock">Rock<br>
  <input type="radio" name="play" value="paper">Paper<br>
  <input type="radio" name="play" value="scissors">Scissors<br>
</form>
