  <form action="/make_receipt">

    <input type="text" name="item_name" placeholder="Service/Item"> <br>
    <input type="text" name="item_cost" placeholder="Cost"> <br><br>
    <input type="submit" value="submit" class="button">

  </form>


