<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" href="styles.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <title>Online Receipt Generator</title>
</head>


<body>
<div id="receipt_box">
  <h1>Online Receipt Generator</h1>
  <%= yield %>
</div>
</body>
</html>
