<%= render partial: "personform", locals: { person_local: @person } %>
<h2>People</h2>
<ul class="people">
  <%@people.each do |people| %>
    <li><%= link_to people.name, "/people/#{people.id}" %></li>
  <% end %>
</ul>

