<input id="facebook_input" type="text" placeholder="Enter your Facebook Details" />
<button id="add_facebook_button">Add Facebook</button>

<div id="button">Get Yo Details!</div>

<div id="facebook_div">
	<ul id="facebook_list">
	</ul>
</div>
