<input id="facebook_input" type="text" placeholder="Enter your Facebook Details" />
<button id="add_facebook_button">Facebook Finder</button>

<div id="button">Your Searches</div>

<div id="facebook_div">
	<ul id="facebook_list">
	</ul>
</div>
