<h1>CREATE A NEW PLANET</h1>


<form method="post" action="/planet/create">
  <p><input name="name" placeholder="Name" /></p>
  <p><input name="image_url" placeholder="/source.jpg" /></p>
  <p><input name="diameter" placeholder="Diameter" />miles</p>
  <p><input name="mass" placeholder="Mass" />kg</p>
  <p><input name="life" placeholder="Life" /></p>
  <p><input type="submit" /></p>
</form>

