  <div>
    <h1>Planets On Rails</h1>

    <h2>The planets in my database:</h2>
    <ul>
        <% @planets.each do |planet| %>
        <li><%= planet.name %></li>

          <%= link_to("Show", {:action => 'show', :id => planet.id}, :class => 'action show') %>

      <% end %>
    </ul>

     <%= link_to("Create A Planet", {:action => 'new'}, :class => 'action new') %>

  </div>


