<!DOCTYPE html>
<html>
<head>
	<title>juice_shack</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<script src='javascripts/jquery.js'></script>
	<script src='javascripts/underscore.js'></script>
	<script src='javascripts/backbone.js'></script>

  <script id='ingredient_template' type='text/template'>
    Fruit: <%= ingredient.fruit %>, Flavor: <%= ingredient.flavor %>, Name: <%= ingredient.name %>
  </script>


	<script src='javascripts/app.js'></script>
</head>
<body>

    <div id="ingredient-holder">
      <ul id="ingredient-list">
      </ul>
    </div>

</body>
</html>




