<h3>Enter your name below:</h3>

<!-- redirects to the app.rb's name -->
<form action="/name">
  <input type= "text" name= "user_name" <placeholder= "Type your name">
</form>
<!-- lets the form set the path for you /name/Neel or /name/:user_name -->
<form action="/photos" method ="POST">
  <input type= "file" name= "photo">
</form>
