<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Lunch Bot">
	<meta name="keywords" content="WDI lunch bot ratings">
	<title>WDI LUNCH</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="pg_container">
		
		<div class="content">
			<%= yield %>
		</div>

	</div>

</body>
</html>