<h2>Hey, what is your favourite artist?</h2>


<form action="/albums">
	<input class="input" type="text" name="input_artist" placeholder="Nirvana">
	<button class="button" type="submit">Let's rock!</button>
</form>


<%= @page %>



