<!DOCTYPE html>
<html>
<head>
	<title>Weclome to Music Ocean!</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- <body background="1.jpg"> -->
<!-- <h1>Welcome to Music Ocean!</h1> -->

<%= yield %>

</body>
</html>