

<h3>Enter stock ticker symbols below:</h3>

<form action="/stock"> 
	<!-- /name is the new directory that we want -->
	<input type = "text" name="stock_name" placeholder="Type stock symbols">
</form>
