<a href="/challenge_r"><img class="icon marg" src="assets/rock.png"></a>
<a href="/challenge_p"><img class="icon" src="assets/paper.png"></a>
<a href="/challenge_s"><img class="icon" src="/assets/scissors.png"></a>
