<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href='httpS://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
  <title>RPS</title>

</head>
<body>
<center>
  <%= yield %>
</center>
</body>
</html>
