

<h2 class = "date">Date: <%=  @date %></h2><br>
<h1 class = "company"> Company Name: <%=  @name %></h1><br>


<h1 class = "high"> Today's high:  <%=  @dayhigh %></h1><br>

<h1 class = "low"> Today's Low:  <%=  @daylow %></h1><br>





