<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<title>magic8ball</title>
<!-- 	<link rel="stylesheet" type="text/css" href="reset.css"> -->
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<%= yield %>
</body>
</html>