<h1 style="font-size: 60px; font-family: 'Open Sans', sans-serif;">Online Reciept Generator</h1>


	<form action="/">
		<input type="text" name="name" placeholder="Company Name:">
		<input type="submit" value="Edit">
	</form>

	<form action="/quote">
		<input type="text" name="name" placeholder="Good/Service Provided:">
		<input type="submit" value="Edit">
	</form>

	<form action="/quote">
		<input type="text" name="name" placeholder="Cost:">
		<input type="submit" value="Edit">
	</form>
