
<ul class="selfies">
  <% @selfies_show.each do |selfie| %>
    <li>
        <p> <img src= "<%= selfie.url %>"></p>
		<h2><%= selfie.user_name %></h2>
        <p>Rating: <%= selfie.description %></p>
</li>
  <% end %>
</ul>