<h1>Wanna play rock paper scissors?</h1>

<img src = "http://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/460px-Rock-paper-scissors.svg.png">

<h2> chose:</h2>
<ul>
  <li><a href= "play/rock">rock</a></li>
  <li><a href= "play/paper">paper</a></li>
  <li><a href= "play/scissors">scissors</a></li>
</ul>

<!-- 
  <form action="/catch_response">

    <input type="radio" name="user_choice" value="rock"> rock
    <input type="radio" name="user_choice" value="paper"> paper
    <input type="radio" name="user_choice" value="scissors"> scissors
    <input type="submit" value="submit" class="button">
  </form>
 -->

