
<h3>New Customer Registration</h3>

<div class='customer-manager'>

<form class='name-form'>
    <p>Name: <input type="text" name='name' placeholder="Name"></p>
    <p>Address: <input type="text" name='address' placeholder='address'></p>
    <p>Email: <input type="text" name='email' placeholder='Email'></p>
    <p>Loyalty Code: <input type="text" name='loyalty_code' placeholder='Loyalty Code'></p>
    <input type="submit">
</form>

  <ul class='customers_display'>

  </ul>

</div>
