<h1> Ask any questions you'd like!! </h1>

<form action="/answer">
  <input type ="text" name="question" placeholder="Ask any question at all!!">
  <input type = "submit" value = "Submit" class = "button">
</form