<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Morning Exercise: Magic Eight Ball">
  <meta name="keywords" content="Magic Eight Ball, exercise, Sinatra, ERB ">
  <link rel="stylesheet" href="stylesheet.css">
  <title>The All-Knowing Magic Eight Ball</title>
</head>
<body>

    <%= yield %>

</body>
</html>