<form action="/items/<%= @item_id %>/edit" method="POST">
<!--    <p><input type="text" name="item_id" placeholder="id" /></p> -->
  <p><input type="text" name="item_name" placeholder="item name" value=<%=@item.item_name %> /></p>
  <p><input type="number" step="any" name="price" placeholder="price" /></p>
  <p><textarea name="description" placeholder="Enter Item Description Here">
  </textarea></p>
  <p><input type="number" name="quantity" placeholder="quantity" /></p>

  <input type="submit" value="Update an item" />
</form>
