<form class='update-form'>
  <input type='text' name='name' />
  <input type='text' name='address' />
  <input type='text' name='email' />
  <input type='text' name='loyalty_code' />
  <input type="submit" value="Update!" />
</form>