<h1>Joe's Customer List</h1>

<h4>Customer Registration</h4>
<div class="customers-manager">
  <ul class='customers'>
  </ul>
</div>



<form class='customer-form'>
  <input type='text' name='name' placeholder='Enter Name' />
  <input type='text' name='address' placeholder='Enter Address' />
  <input type='text' name='email' placeholder='Enter Email' />
  <input type='text' name='loyalty_code' placeholder='Enter Loyalty Code' />
  <input type="submit" value="Register!" />
</form>