
<h2>Makes</h2>

<ul class="makes">

<% @make.each do |make| %>

<li> <%=link_to make.name, "/makes/#{make.id}" %> is from <%= make.country %> and has the following models: <%= make.models.name %>
	 
<% end %>

</ul>