<!DOCTYPE html>
<html>
<head>
  <title>Planeteer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>PLANETEER</h1>

	<nav>
		<a href="/planets">Home</a> | <a href="/planets/new">New Planet</a>
	</nav>


	<%= yield %>




</body>
</html>
