<center><h2 class="title">Receipt Generator</h2>
<div class="container">
<form action="/receipt">
    <p>-Company Name:<input type ="text" name="company_name" placeholder="Company Name"></p>
    <p>-Good/Service Provided:<input type ="text" name="good_service" placeholder="Good/Service"></p>
    <p>-Cost:<input type ="text" name="price" placeholder="Price" value="$"></p>
    <input type="submit" value="Submit" />

    </form>
  </div>
</center>
