<center><h2 class="title">Receipt Generator</h2>
<div class="container">
    <p>-Company Name: <%= @company_name %></p>
    <p>-Good/Service Provided: <%= @good_service %></p>
    <p>-Cost: <%= @price %></p>
    <p class="patronage">Thank you for your patronage</p>
  </div>
  <h2 class="notice">Your receipt has been printed.</h2>
</center>
