
<h2>Ask magic 8-ball a question below:</h2>

<form action="/answer"> 
	<!-- /name is the new directory that we want -->
	<input class="askme" type = "text" name="question" placeholder="Enter question">
	<input type = "Submit"
	value= "Submit" class = "button">
</form>

