<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Photo Hackathon">
  <meta name="keywords" content="WDI Photo Hackathon">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
  <title>PHOTO HACKATHON</title>
</head>
<body>

      <div class="wrapper">
      <h2>WELCOME TO OUR</h2>
        <h1>NIGHTMARE!</h1>
      <nav>
        <a href="/">===> SCREAM! <===</a>
        <!-- <a href="/photos/new">new photo</a> -->
      </nav>


  <%= yield %>

      </div>

</body>
</html>
