<ul class="students">
  <!-- no = means run the code only -->
  <% @students_array.each do |student| %>
    <!-- = means print the returned ruby value into the HTML -->
    <li><%= student %></li>
  <% end %>
</ul>
