<form action="/planets" method="POST">
  <p><a>Name:      </a><input type="text" name="name" placeholder="Earth"></p>
  <p><a>Image URL: </a><input type="text" name="image_url" placeholder="https://www.planets.com/earth.jpg"></p>
  <p><a>Diameter:  </a><input type="text" name="diameter" placeholder="15"></p>
  <p><a>Mass:      </a><input type="text" name="mass" placeholder="1500"></p>
  <p>Life?      <select name="life">
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select></p>
