s
<h2>Welcome!</h2>


<!-- THE PART THAT MATTERS -->
<h4>Its the Customer App</h4>
<div class='customer-manager'>
  <ul class='customers'>
  </ul>

  <form class='name-form'>
    <input type="text" name='name'>
    <input type="submit">
  </form>
</div>
