

<h1><%= @receipt_name %></h1>
<form action="/receipts/<%= @receipt_id %>/update" method="POST">
  <input type="text" placeholder="receipt_name" name="receipt_name" value="<%= @receipt_name %>"/>

  <input type="submit" value="Edit" />
</form>
