<!DOCTYPE html>
<html lang="en">
<head>

<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">

  	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" type="text/css" href="reset.css">

  <title>Untitled</title>
</head>
<body>

<div class="pg_container">
  <%= erb :nav %>


	<div style="content">
	  <%= yield %>
	</div>
</div>

</body>
</html>
