

<h1>receipts of WDI</h1>
  <nav>
    <!-- CREATE -->
    <a href="/receipts/new">add receipt</a> |
    <!-- READ -->
    <a href="/receipts">show receipts</a> |
    <!-- UPDATE -->
    <a href="/receipts/edit">edit receipt</a> |
    <!-- DESTROY -->
    <a href="/receipts/destroy">remove receipt</a> |
    </nav>
