* {
  background-color: #1E90FF;
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
}

.icon {
  height: 150px;
  border: solid white 5px;
  border-radius: 200px;
  margin: 20px 10px 0px 10px;
}

.again {
  text-decoration: none;
  color: white;
}

@media (max-width: 600px) {
  .icon {
    height: 100px;
    display: block;
  }
  .marg {
    margin-top: 90px;
  }
