<div>
	<input id="task_text_input" placeholder="enter a task">
	<input id="due_date_input" placeholder="enter a due date">

	<button id="add_task_button">Add Task</button>

  <h4>To Do List:</h4>
  <p>click on an item to delete it forever</p>

  <div id="show_div">
    <ul id="task_list">
    </ul>
  </div>
