<html>
  <head>
    <title>Blogs</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- ************ Libraries ************ -->
    <script type="text/javascript" src='javascripts/libraries/jquery.js'></script>
    <script type="text/javascript" src='javascripts/libraries/underscore.js'></script>
    <script type="text/javascript" src='javascripts/libraries/backbone.js'></script>
    <script type="text/javascript" src='javascripts/app.js'></script>

    <!-- ************ Templates ************ -->
    <script id="personTemplate" type="text/template">
      <strong><%= name %></strong> <h1>(<%= age %>) - <%= occupation %></h1>
    </script>
  </head>

  <body>

    <div class='container'>
      <h1>Code Beer</h1>
      <hr />
      <div class="page-list">

      </div>
    </div>


  </body>
</html>
