<h1>Welcome to Receipt Generator</h1>
<h3>Receipt Form</h3>
<form action="/print_receipt" method="POST">
  <input type="text" placeholder="Company name" name="company_name" />
  <input type="text" placeholder="Goods/services provided" name="goods_services_provided" />
  <input type="text" placeholder="Amount paid" name="amount_paid" />
  <input type="submit" value="Submit"/>
</form>
