<h1>Here's your receipt!</h1>
<h3>Company Name: <%= @company_name %></h3>
<h3>Good/Service Provided: <%= @good_services_provided %></h3>
<h3>Amount Paid: <%= @amount_paid %></h3>
<h3>Thank you for your patronage!</h3>
