<% @num.times do %>

<div class="box"></div>

<% end %>

<!-- my stuff -->
<!-- <div class="box">
 <p>What number would you like to see inside this box?</p>
 <form action="/num" method="GET">
	<p><input="text" name="num" placeholder="number"/></p>
</form>
</div>

<a href="/">Back HOME</a>
 -->