<input id="input" type="text" placeholder="Enter your name" />
<button id="submitButton">Find on Facebook</button>

<div id="show_button">List</div>

<div id="show_div">
	<ul id="quiz_list">
	</ul>
</div>

