<h1>Welcome to Music Checker</h1>

<form action="/search">
        <input type ="text" name="artist_name" placeholder="Type Artist Name Here" style="padding: 10px;">
        <input type="submit" value="Search">
</form>
