<html>
	<head>
		<title> stocks</title>
		<link rel ="stylesheet" href = "styles.css" type = "text/css">
		<link rel="alternate" href="http:\/\/example.com\/feed">
	</head>
	<body>

		<%= yield %>

	</body>
</html>