<h1 class = "heading"> Date: <%=  @date %></h1>
<h3 class = "heading"> Company Name: <%=  @name %></h3>


<h1 class = "heading"> High:  <%=  @dayhigh %></h1>

<h1 class = "heading"> Low:  <%=  @daylow %></h1>

