<h3>Hi, I'm Tom, your first friend</h3>

<!-- if instance variable message was created when evaluating for error -->
<% if @message %>
  <h5> <%= @message %> </h5>
<% else %>
  <h5> Search for a friend below </h5>
<% end %>

<!-- standard form to enter data for API -->
<form action="/friend">
  <input type="type" name="username" placeholder="Search for a friend">
  <button type="submit">Search!</button>
</form>
