<!DOCTYPE html>
<html>

<!-- layout header to be rendered in every page-->
<head>
  <title>Myspace!</title>
  <link rel"stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>WELCOME TO MY SPACE</h1>

  <%= yield %>

</body>
</html>
