<html>
  <head>
    <title>MUSIC SEARCH</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class= "top"></div>

    <%= yield %>

  </body>
</html>
