<header>
	<h3> What artist would you like to find more information about? <span></span></h3>
</header>

<form action="/artist/">
  <input type="text" name="query" placeholder="Artist Name">
</form>
<button type="submit">Search!</button>