<!DOCTYPE html>
<html lang="en">
<head>
  <title>Musicbrainz!</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
<!--   <link rel="stylesheet" type="text/css" href="reset.css"> -->
</head>
<body>
<!-- <header style="float: center; opacity: 50%;"><img src="http://www.tranquilbase.org/wp-content/uploads/2013/04/Musicbrainzlogo.jpg"></header> -->

  <%= yield %>



</body>
</html>

