<h1>Search Results</h1>

<h1><%= @artist_hash["name"] %> is a <%= @artist_hash["gender"] %></h1>

<img src= <%= @image %>>

<%  @album_art_array.each do |album| %>
  <img src= "<%= album %>">
<% end %>
