<input id="season" type="text" placeholder="What's you're favorite season?" />
<button id="fave_button">Favorite Season</button>

<div id="ranking">Most Popular Season</div>

<div>
	<ul id="season_submissions">
	</ul>
</div>