<!DOCTYPE html>
<html>
<head>
	<title>Commentator</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

  <!-- ****LIBRARIES**** -->
    <script type="text/javascript" src='javascripts/libraries/jquery.js'></script>
    <script type="text/javascript" src='javascripts/libraries/underscore.js'></script>
    <script type="text/javascript" src='javascripts/libraries/backbone.js'></script>


<!-- ****Templates**** -->

    <script type="text/template" id="post_template">
      <div>
        <h2><%= title %></h2>
        <p><%= content %></p>
        <form>
          <p>
            <input type="text" placeholder="comment" name="comment">
          </p>
        </form>
        <ul class="comments">
        </ul>
      </div>
    </script>


    <script type="text/template" id="comment_template">
      <div>
        <h3><%= title %></h3>
        <button name="delete_comment">Delete</button>
      </div>
    </script>


<!-- ****COMMENTS**** -->

    <script type="text/javascript" src='javascripts/backbone/comment.js'></script>


<!-- ****POSTS**** -->

    <script type="text/javascript" src='javascripts/backbone/post.js'></script>

<!-- ****APP**** -->

    <script type="text/javascript" src='javascripts/app.js'></script>


<!-- ****HTML**** -->

</head>
<body>

<h1>Welcome to Commentator!</h1>

    <form id='new_post'>
      <input type="text" placeholder='Post Title' id='post_title'>
      <input type="text" placeholder='Content' id='post_content'>
    </form>

   <ul id="post_list">
   </ul>



</body>
</html>
