<h3> What artist would you like to find more information about? </h3>

<form action="/artist/">
  <input type="text" name="query" placeholder="Artist Name">
  <button type="submit">Search!</button>
</form>
