<div id="wrapper">
  <div id="container">
    <h3><%= @artist_array.each %></h3>
    <!-- <p>Are from the <%= @country %></p> -->
    <div id="header">
      <div id="content_left">

      </div>

      </div>
    </div>
  </div>
</div>
