<div>
  <strong>Diet:</strong>
  <input type="radio" name="diet" value="any" class="diet_choice" /><label for="diet_any">Any</label>
  <input type="radio" name="diet" value="herbivore" class="diet_choice" /><label for="diet_herbivore">Herbivore</label>
  <input type="radio" name="diet" value="carnivore" class="diet_choice" /><label for="diet_carnivore">Carnivore</label>
  <input type="radio" name="diet" value="omnivore" class="diet_choice" /><label for="diet_omnivore">Omnivore</label>
  <button id="filter">Filter</button>
</div>
