<h1>New Receipt</h1>


<form action="/save_receipt" method="POST">

 	Enter the company name: <input type="text" placeholder="company" name="company"><br>

 	Enter the service provided? <input type="text" placeholder="service" name="service"></br>

 	Enter the service cost? <input type="text" placeholder="cost" name="cost"></br>
 		
 	<input type="submit" placeholder="submit" name="submit"></br>

</form>




