<h1>Print a receipt!</h1>
<form action="/print_receipt" method="POST">
  <input type="text" placeholder="Your Name" name="customer_name" />
  <input type="text" placeholder="Cost of Goods and Services" name="cost_of_goods" />
  <input type="submit" value="Add Student" />
</form>

