/* WDI String */

/* Global Styles */

body {
  padding: 0px 20px 20px 20px;
  background: #F5F5F5;
  font-size: 14px;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  float: right;
  padding: 0px 0px 15px 15px;
}


h1 {
  font-size:38px;
  color: #000;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size:28px;
  color: #777;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size:18px;
  color: #BCD2EE;
  text-transform: lowercase;

p  {
  margin: 0 0 20px 0px;
}

a {
  color:#999;
  text-decoration:none;
}

a:hover {
    color:#20222a;
}

ul.spacey {
margin-bottom: -20px;
}

ul.spacey li {
padding-bottom: 30px;
}
