<div class="search">
<h1>PICK YOUR ARTIST</h1>
<h3>Search</h3>

<form action="/results" id="please_form">
	<input type="text" name="artist" placeholder="artist name here" />
	<button type="submit">Search</button>
</form>

<select name="options" form="please_form">
	<option value="all">All</option>
	<option value="album">Album</option>
	<option value="compilation">Compilation</option>
	<option value="ep">EP</option>
	<option value="live">Live</option>
	<option value="single">Single</option>
	<option value="misc">MISC</option>
</select>
</div>


