<div class="planets_display">
	<h1>PLANETS</h1>
	<% @planets.each do |planet| %>
		<div class="test">
			<img src="<%= planet.image_url %>" />
			<a href="/planets/<%= planet.id %>"><%= planet.name %></a>
		</div>
	<% end %>

</div>