	<html>
		<head>
			<title> Welcome to WDI Stocks </title>
			<link rel="../public/style.css"
		</head>
		<body>

		</body>
	/<html>


<h3>Welcome to WDI Stocks</h3>





<form action="/stock">
	<input type ="text" name="user_stock" placeholder="Type your the stock ticker">
</form>

<!-- <form action="/photos" method = "POST" enctype="multipart/form-data">
	<input type ="file" name="photo">
	<input type ="submit" value="SUBMIT">
</form> -->