body {
  background: url("images/background.jpg");
  width: 1000px;
}

p {
  margin: 25px 10px;
}
h3 {
  margin-left: 25px;
}

.logo {
  position: relative;
  display: block;
  margin: 0 auto;

}

.content-left {
  background: #fff;
  float: left;
  width: 70%;
  margin: 0 auto;
}

.content-right {
  background: #fff;
  clear: top;
  float: right;
  width: 25%;
  margin: 0 auto;

}
ul {
  padding-left: 10px;
  position: relative;
  clear: top;
}
li {
  list-style-type: none;

}

img {
  margin: 20px 20px;
}

.content-img {
  display: block;
  margin: 0 auto;
}
