<h2>Welcome!</h2>


<!-- THE PART THAT MATTERS -->
<h4>Manage your customers below</h4>
<div class='customer-manager'>
  <ul class='customer'>
  </ul>

  <form class='name-form'>
    <input type="text" name='name' placeholder='name'>
    <input type="submit">
  </form>

  <form class='address-form'>
    <input type="text" name='address' placeholder='address'>
    <input type="submit">
  </form>

  <form class='email-form'>
    <input type="text" name='address' placeholder='email'>
    <input type="submit">
  </form>

  <form class='loyalty-code-form'>
    <input type="text" name='loyalty-code' placeholder='loyalty code'>
    <input type="submit">
  </form>

</div>
