<h2>Welcome!</h2>


<!-- THE PART THAT MATTERS -->
<h4>Manage your customers below</h4>
<div class='customer-manager'>
  <ul class='customer'>
  </ul>

  <form class='name-form'>
    <input type="text" name='name'>
    <input type="submit">
  </form>
</div>
