<input id="friend_name" type="text" placeholder="You have friends?" />
<button id="friend_input">Find Friend</button>


<div id="show_friends">Show</div>

<div id="show_div">
	<ul id="friend_list">

	</ul>
</div>
