<html>
  <head>
    <title>YOUR RAW STOCK INFO</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Medula+One' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
