<!DOCTYPE html>
<html>
<head>
  <title>Musicbrainz!</title>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>
<body>
	<h1>WELCOME TO MUSICBRAINZ</h1>

  <%= yield %>

</body>
</html>