<h1>Enter your info</h1>

<form action="/receipt" method="POST">
  <p><input type="text" name="company_name" value="company name"></p>
  <p><input type="text" name="service" value="service provided"></p>
  <p>$<input type="text" name="cost" value="cost of service"></p>
  <p><input type="submit" value="SUBMIT"></p>
</form>
