<html>
<head>
  <title>E-store</title>
</head>
<body>
  <h1>AmaZone E-Store</h1>
  <nav>
    <a href="/">list all</a> |
    <a href="/items/new">new service</a>
    <a href="/items/:id/view">view item</a> |
    <a href="/items/:id/edit">edit item</a>
    <a href="/items/:id/delete">remove item</a>
  </nav>
  <%= yield %>
</body>
</html>
