<input id="quiz_input" type="text" placeholder="Enter the name of your quiz" />
<button id="add_quiz_button">Add Quiz</button>

<div id="show_button">Show</div>

<div id="show_div">
  <ul id="quiz_list">
  </ul>
</div>
