<!DOCTYPE html>
<html>
  <head>
      <title>Quizr</title>
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="javascripts/scripts.js"></script>
  </head>

<body>

  <%= html_body %>

</body>


</html>
