<h1>Wanna play Rock Paper Scissors?</h1>

<h2>Choose your move, human</h2>

<ul class="indent-spacey">

<li><a href="play/rock">Rock</a></li>
<li><a href="play/paper">Paper</a></li>
<li><a href="play/scissors">Scissors</a></li>

</ul>

<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/460px-Rock-paper-scissors.svg.png">
