


<h2>Bands will make her dance!</h2>


<h4>I'm Just Popping Bands</h4>
<div class='customer-manager'>
  <ul class='customer'>
  </ul>

  <form class='name-form'>
    <input type="text" name='name'>
    <input type="submit">
  </form>
</div>

