<h2> Welcome New Customer </h2>

<div class= "customers_list">

  <form class='customer-form'>
    Name: <input type="text" name='name' placeholder="name"><br>
    Address: <input type="text" address='address' placeholder="address"><br>
    Email: <input type="text" email='email' placeholder="email"><br>
    Loyalty Code: <input type="text" loyalty_code='loyalty_code' placeholder="loyalty code"><br>
    <input type="submit">
  </form>

<h2> Our Current Customers </h2>
  <ul class= "customers">
  </ul>

</div>





