<section id="beasts">
  <h1>Beasties below...</h1>
  <%= render "diet_form" %>
  <section id="beast-list">
    <%= render "beast" %>
  </section>
</section>

<div>
	<input id="beast_name_input" placeholder="enter beast name">
	<input id="beast_diet_input" placeholder="enter beast diet">
	<input id="beast_light_ethology_input" placeholder="enter beast light_ethology">
	<input id="beast_habitat_input" placeholder="enter beast habitat">
	<input id="beast_size_input" placeholder="enter beast size">
	<input id="beast_description_input" placeholder="enter beast description">
	<br>
	<button id="add_beast_button">Add Beast</button>
</div>

<!-- <form action="/beast/show">
    <input type="submit" value="Show beasts">
</form> -->
