
<h2>Welcome!</h2>


<!-- THE PART THAT MATTERS -->
<h4>Customer Registration</h4>
<div class='customers-manager'>
  <ul class='customers'>
  </ul>

  <form class='name-form'>
    <input type="name" name='name'>
    <input type="email" name='email'>
    <input type="address" name='address'>
    <input type="loyalty_code" name='loyalty_code'>
    <input type="submit">
  </form>
</div>
