<% id = params[:id].to_i %>
<% animal = Animal.find(id) %>

<form action="/animals/update/<%=params[:id]%>" method="post">
<p>Name</p>
<p><input type="text" name="name" value="<%=animal.name%>"></p>
<p>Vertebrae Class ID</p>
<p><input type="text" name="vertebrae_id" value="<%=animal.vertebrae_id%>"></p>
<p>Characteristics</p>
<p><input type="text" name="characteristics" value="<%=animal.characteristics%>"></p>
<input type="submit" name="submit" value="submit">
</form>
