<h3>Enter your name below</h3>

<form action="/name">
	<input type="text" name="user_name" placeholder="Type your name" />
</form>



<form action="/photos" method="POST" enctype="multipart/form-data">
	<input type="file" name="photo" /><br />
	<input type="submit" value="SUBMIT YO!" />
</form>