<form id="beast-creation">

   <p><input type="text" name="beast-name" placeholder="name"/></p>

   <p><input type="text" name="beast-diet" placeholder="diet"/></p>

   <p><input type="text" name="beast-light_ethology" placeholder="light ethology"/></p>

   <p><input type="text" name="beast-habitat" placeholder="habitat"/></p>

   <p><input type="text" name="beast-size" placeholder="size"/></p>

   <p><input type="text" name="beast-description" placeholder="description"/></p>

   <p><input type="text" name="beast-image" placeholder="image_filename"/></p>

   <p><input type="submit" name="beast_create_submit" value="Create Beast"/></p>

</form>


