<h1>Welcome to Magic 8 Ball</h1>
<h3>Ask us anything.</h3>

<form action= "/name">
  <input type ="text" name="user_input" placeholder="Ask a question">
  <input type ="submit" value="Ask"/>
</form>
<br>
  <img src="http://sun.iwu.edu/~scalhoun/cs126/magic8ball.jpg" alt="Magic 8 Ball" align="middle">


