<h2><%=@name%>?<h2>
<h3><%=@message%>.</h3>
<h3>Ask us another question.</h3>

<form action= "/name">
  <input type ="text" name="user_input" placeholder="Ask a question">
  <input type ="submit" value="Ask"/>
</form>
