<h1>INVOICE</h1>


<form action="/receipt">
  <input type="text" name="form1" placeholder="COMPANY NAME"  class="name">
  <input type="text" name="form2" placeholder="COST"  class="cost">
  <input type="text" name="form3" placeholder="SERVICES RENDERED"  class="description">
  <input class="button" type="submit" value="Submit" class="button">
</form>
