<html>
  <head>
    <title>Your Receipt</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=Cantarell:400,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
