<h1>INVOICE</h1>

<h2 class = "co">COMPANY NAME:</h2><br>
<p class = "one"><%= @form1 %></p>
<h2 class = "mon">COST:</h2><br>
<p class = "two"><%= @form2 %></p>
<h2 class = "serv">DESCRIPTION OF SERVICES:</h2><br>
<p class = "three"><%= @form3 %></p>
