  <input id="user_input" type="text" placeholder="Enter Persons Name" />
  <button id="add_user_button">Add User</button>

  <div id="show_user_button">See The Users You Found</div>

  <div id="show_div">
    <ul id="user_list">
    </ul>
  </div>