<h3> Receipt </h3>
<div id="list">
<ul>
	<li> Company Name: <%= @company_name %> </li>
	<li> Good/Service: <%= @good_services %> </li>
	<li> Cost: <%= @cost %> </li>
	<li> Thank you for your patronage! </li>
</ul> 
</div>

<div id= "left">
	<img src = "http://sd.keepcalm-o-matic.co.uk/i/keep-calm-and-boom-boom-boom-8.png">
</div>