<input id="username" type="text" placeholder="facebook username" />
<button id="find_friend">Find on Facebook</button>

<!-- <div id="show_button">Show</div> -->

<div id="show_friend">
  <ul id="friend_data">
  </ul>
</div>
