<div>
	<input id="task_text_input" placeholder="enter a task">
	<input id="due_date_input" placeholder="enter a due date">

	<button id="add_task_button">Add Task</button>

<div id="task_div">
  <li id="task_list">
</ul>
</div>

<% @tasks.each do |task| %>
 <ul id="task_list">
     <li id="task_list"></li>
    <li><%= task.task_text %></li>

  <% end %>
</ul>
