<h1>New Item Form</h1>

<form action="/items" method="POST">
  <p>
    <input type="text" name="name" placeholder="product name" />
  </p>
  <p>
    <input type="text" name="price" placeholder="price" />
  </p>
  <p>
    <textarea name="description" placeholder="enter description here"></textarea>
  </p>
  <p>
    <input type="text" name="quantity" placeholder="quantity" />
  </p>
  <input type="submit" value="Create New Item" />
</form>