<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Amazone eStore">
  <meta name="keywords" content="Amazone eStore Inventory Management System">
  <link rel="stylesheet" href="/styles.css">
  <title>Amazone eStore</title>
</head>
<body>

<%= yield %>

</body>
</html>
