body{
	font-family: 'Dosis', sans-serif;
}

.pg_container{
	width: 960px;
	border: 1px solid black;
	height: 500px;
}

.content{
	width: 550px;
	margin: 0 auto;
	border: 1px solid black;
	height: 400px;
}
