
<div class="interface">
  <div class= "title">
<h1>Cash Register</h1>
</div>
<div class="details">
  <h3><em>Transaction Details</em></h3>
</div>
<div class= "forms">
<form action="/receipt" method="POST">
  <input type="text" placeholder="Company Name" name="company_name"/><br></br>
  <input type="text" placeholder="Good/Service" name="service"/><br></br><input type="text" placeholder="Cost" name="cost"/><br></br>
  <input type="submit" value="Print Receipt" />
</form>
</div>
</div>
