<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,900italic,400italic,700italic,900|Lato:300' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link rel="stylesheet" href="styles.css">


</head>
<body>
  <%= yield %>
<div class="image">
<img src= "https://dl.dropboxusercontent.com/u/15166676/cash_register.png"></>

</div>
</body>
</html>
