<div class="interface">
<div class= "title">
<h1>Cash Register</h1>
</div>
<div class="receipt">
<p>Your receipt has printed</p>
<ul>
<li>Company name: <%= @company_name %></li>
<li>Service Rendered: <%= @service %></li>
<li>Cost: $<%= @cost %></li>
</ul>
<p>Thank you, please come again!</p>
<div class="details">
<a href="/">Print another receipt</a>
</div>
</div>
</div>
