<!-- <form action="/vertebraes" method="post">
<p><input type="text" name="name" placeholder="name of group">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="scientific_name" placeholder= "scientific name"></p>
<p><textarea rows=4 cols=41 name="characteristics" placeholder= "characteristics of group"></textarea></p>
<input type="submit" name="submit" value="submit">
</form>
 -->

<%= render partial: "vertebraeform", locals: {vertebrae_local: @vertebrae } %>