#show_button{
  margin: 10px;
  height: 30px;
  width: 50px;
  border: solid black 1px;
  background-color: lightgrey;
  color: red;
  text-align: center;
  line-height: 30px;
  padding: 2px;

}

#show_div {
  margin: 10px;
}

#toggle_list{
  visibility: hidden;
/* display: none;*/
}
