
<input id="message_input" type="text" placeholder="Message here..." />

<button id="submit_message">Send Message</button>

<div id="refresh_chatlog_btn">Refresh Chatlog</div>

<div id="chatlog_div">
	<ul id="messages_list">
	</ul>
</div>