<form action="/lunches" method="post">
  <p>
    <input type="text" name="name" placeholder="product/service name" />
  </p>
  <p>
    <input type="number" name="rating" placeholder="rating" />
  </p>



  <input type="submit" value="Create Lunch" />

</form>
