<html>
<head>
  <title>WDI_Lunch</title>
</head>
<body>
  <h1>WDI_Lunch</h1>
  <nav>
    <a href="/">all lunches</a> |
    <a href="/lunches/new">new lunch</a> |

  </nav>
  <%= yield %>
</body>
</html>
