<p><%= @accuser %>: Who stole the cookie from the cookie jar? <%= @theif %> stole the cookie from the cookie jar. </p>
<p><% @theif %>: Who, me?</p>
<p><%= @accuser %>: Yes, you! </p>
<p><% @theif %>: Not me! Couldn't be! Wasn't me!</p>
<p><%= @accuser %>: Then who? </p>