

<form action="/items" method="POST">
  <p>
    <input type="text" name="name" placeholder="SKU name" />
  </p>
  <p>
    <input type="text" name="price" placeholder="Set SKU price" />
  </p>
  <p>
    <textarea name="description" placeholder="New SKU description"></textarea>
  </p>
  <input type="submit" value="Create SKU" />
</form>
