<form action="/product" method="POST">
  <p>
    <input type="text" name="name" placeholder="name" />
  </p>
  <p>
    <input type="money" name="price" placeholder="product price" />
  </p>
  <p>
    <textarea name="description" placeholder="Enter Description"></textarea>
  </p>
  <p>
    <input type="integer" name="quantity" placeholder="quantity" />
  </p>
  <input type="submit" value="Create Product" />
</form>
