<form action="/product/<%= @product.id %>/order" method="POST">
  <p>
    <input type="integer" name="order" placeholder="Number to order?">
  </p>
  <input type="submit" value="Update Product" />
</form>
