<form action="/product/<%= @product.id %>/ship" method="POST">
  <p>
    <input type="integer" name="ship" placeholder="Number to ship?">
  </p>
  <input type="submit" value="Update Product" />
</form>
