<section id="beasts">
  <h1>Beasties below...</h1>
  <%= render "diet_form" %>
  <section id="beast-list">
  </section>

  <script type="text/javascript">
    // Bootstrap the initial load of beast data
    var beastData = JSON.parse('<%=j @beasts.to_json.html_safe %>');
  </script>

  <%= render :partial => "beast" %>
</section>
