<h2>Our Loyal Customers</h2>

<h3>VIP List</h4>
<div class="master-list">
	<p>Add VIP</p>
	<form class="vip-form">
		<input type="text" name="name" placeholder="name" >
		<input type="text" name="address" placeholder="address">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="loyalty_code" placeholder="loyalty code">
		<input type="submit">
	</form>

	<ul class="vip-customers">
	</ul>
</div>

<form class="some-form hidden">
	<input type="text" name="name" placeholder="name" >
	<input type="text" name="address" placeholder="address">
	<input type="text" name="email" placeholder="email">
	<input type="text" name="loyalty_code" placeholder="loyalty code">
	<input type="submit">
</form>