<div class="notice">

	<h1>8ball</h1>

</div>

<div class="question_entry">

	<form action="/name">
		<input type ="text" name="question" placeholder="Type the question">




<div class="col_right">
	<%= @answer %>
</div>




<!-- @quote[@name].dayHigh -->
