<form action="/story" method="GET">
<li><input type="text" name="place" placeholder="name a place!" /></li>
<li><input type="text" name="adjective" placeholder="write an adjective!" /></li>
<li><input type="text" name="animal" placeholder="name of an animal!" /></li>
<li><input type="text" name="adverb" placeholder="put an adverb!" /></li>
<li><input type="text" name="verb" placeholder="verb in past tense" /></li>
<li><input type="text" name="flower" placeholder="name of flower" /></li>
<li><input type="text" name="celeb" placeholder="your favorite celebrity" /></li>
<li><input type="text" name="restaurant" placeholder="dining establishment" /></li>
<li><input type="text" name="flavor" placeholder="flavor" /></li>
<input type="submit" value="Read My Story" />
</form>
