<div class="planet">
  <% @planets.each do |planet| %>
    <h1>
      <%= planet.name %>:
      <%= link_to "show details", "/planets/#{planet.id}" %>
      <%= link_to "create new moons", "/mooons/new" %>
    </h1>
  <% end %>
</div>
