<div class="planets">
  <% @planets.each do |planet| %>
    <p>
      <%= planet.name %>:
      <%= link_to "show details", "/planets/#{planet.id}" %>
      <%= link_to "create new moons", "/mooons/new" %>
    </p>
  <% end %>
</div>
