<h1 style="font-size: 60px; font-family: 'Open Sans', sans-serif;">Welcome to WDI Stocks</h1>


<div class="welcome">
	<form action="/quote">
		<input type="text" name="quote_request" placeholder="Insert Quote Here">
	</form>
</div>


<img src="http://b-i.forbesimg.com/schifrin/files/2013/06/0604_wealth-wizard-warren-buffet_650x455.jpg">