<h1> Students of WDI </h1>
<nav>
  <a href = "/students/new"> add student</a> |

  <a href= "/students">show students</a> |

  <a href= "/students">edit students</a> |

  <a href= "/students">remove students</a>
</nav>
