<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Plaster|Advent+Pro' rel='stylesheet'>
  <title>Intergalactic Planetary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--   type='text/css'> -->
  <div class= "galactic_title_1">
  <h1>INTERGALACTIC</h1></div><div class="galactic_title_2"><h1>[  PLANETARY  ]</h1>
  </div>

<%= yield %>

</body>
</html>
