<h1>Stock Data for <%= @stockname %></h1>

	<%= stock_call(@stockname)[:stockname] %>

	<!-- @stockname = params[:stockname] -->
<!-- 	quote = stock_call(@stockname) -->

<%= stock_call(@stockname) %>

