<h2>Welcome to Loyalti!</h2>


<!-- THE PART THAT MATTERS -->
<h4>Customer Loyalty Member Registration</h4>
<div class='customer-manager'>
  <ul class='customers'>
  </ul>

  <form class='customer-form'>
    <input type="text" name='name' placeholder='name'></br>
    <input type="text" name='address' placeholder='address'></br>
    <input type="text" name='email' placeholder='email'></br>
    <input type="number" name='loyalty_code' placeholder='loyalty code'></br>
    <input type="submit">
  </form>
</div>






