body{
  font-family: 'Open Sans', sans-serif;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


h1,h2,h3,h4{
  font-family: 'Playfair Display', serif;
  font-weight: 700
}


input {
border: 1px solid #dadfe1;
outline: none;
background: white;
display: block;
width: 100%;
-webkit-appearance: none;
font-size: 14px;
font-weight: 500;
color: #3e474c;
line-height: 1em;
padding: 1em 1.1em;
-webkit-border-radius: 0.25em;
-moz-border-radius: 0.25em;
-ms-border-radius: 0.25em;
-o-border-radius: 0.25em;
border-radius: 0.25em;
margin: 10px 0;
}

.container{
  margin-top: 60px;
  max-width: 960px;
  margin: 0 auto;
}


/*  GRID OF TWELVE   ============================================================================= */

.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
  width: 91.53%;
}

.span_10_of_12 {
  width: 83.06%;
}

.span_9_of_12 {
  width: 74.6%;
}

.span_8_of_12 {
  width: 66.13%;
}

.span_7_of_12 {
  width: 57.66%;
}

.span_6_of_12 {
  width: 49.2%;
}

.span_5_of_12 {
  width: 40.73%;
}

.span_4_of_12 {
  width: 32.26%;
}

.span_3_of_12 {
  width: 23.8%;
}

.span_2_of_12 {
  width: 15.33%;
}

.span_1_of_12 {
  width: 6.86%;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

#2CC36B


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
  width: 100%;
}

.span_10_of_12 {
  width: 100%;
}

.span_9_of_12 {
  width:100%;
}

.span_8_of_12 {
  width: 100%;
}

.span_7_of_12 {
  width: 100%;
}

.span_6_of_12 {
  width:100%;
}

.span_5_of_12 {
  width: 100%;
}

.span_4_of_12 {
  width: 100%;
}

.span_3_of_12 {
  width:100%;
}

.span_2_of_12 {
  width: 100%;
}

.span_1_of_12 {
  width:100%;
}
}

/*nav{
  display: block;
  width: 100%;
}

nav h1{
  font-size: 60px;
  margin: 0 auto;
  text-align: center;
}


#options {
position: absolute;
top: 0;
left: 0;
padding-left: 50px;
}

#options ul {
list-style: none;
}

#options li {
display: block;
float: left;
margin-right: 22px;
line-height: 125px;
}

#options li.mobile {
display: none;
}

#options a {
text-transform: uppercase;
font-size: 12px;
letter-spacing: 0.1em;
}

*/
li {
  list-style: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

.cookbooks a {
  text-decoration: none;
  font-size: 2em;
  color: #2CC36B;
}


img {

  width: 100%;

}

header {

  background: #3D566E;
  width: 100%;
  height: 90px;
  line-height: 40%;
  position: fixed;
  top: 0;
  left: 0;
  /*border-bottom: 4px solid #4C9CF1;*/
  z-index: 100;
}


header{
  margin-bottom: 20px;
}

header a{
  text-decoration: none;
  color: #FFF;
}

.padder{
  display: block;
  height: 100px;
}

#logo{

  margin: 20px;
  float: left;
  width: 200px;
  height: 40px;
  display: block;

}



nav {

  float: right;
  padding: 20px;

}

#menu-icon {

  display: hidden;
  width: 40px;
  height: 40px;
  background: #EA6153 url(../img/menu-icon.png) center;

}

a:hover#menu-icon {

  background-color: #444;
  border-radius: 4px 4px 0 0;

}

ul {

  list-style: none;

}

li {

  display: inline-block;
  float: left;
  padding: 10px

}

.current {

  color: #EA6153;

}*/

section {

  margin: 80px auto 40px;
  max-width: 980px;
  position: relative;
  padding: 20px

}

p {

  line-height: 1.45em;
  margin-bottom: 20px;

}


/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

  header {

    position: absolute;

  }

  #menu-icon {

    display:inline-block;

  }

  nav ul, nav:active ul {

    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px;

  }

  nav li {

    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;

  }

  nav:hover ul {

    display: block;

  }


.title{
  display: inline-block;
}

.form_right form{
  padding: 50px 0 0;
}


