<div>
	<input id="task_text_input" placeholder="enter a task">
<input id="due_date_input"  placeholder="YYYY/MM/DD">
	<button id="add_task_button">Add Task</button></br>
  <!--  <button id="delete_button">Delete</button></br> -->

<h2> my to do list </h2>
<div id="task_div">
    <button id="delete_button">Delete task</button></br>
   <ul id="task_list">

   </ul>
</div>

