<div class="span_8_of_12 title">
  <h1>Find on Facebook</h1>
  <input id="facebook_search_input" type="text" placeholder="Enter your Facebook User Name" />
  <button id="add_profile_button">Search Facebook</button>
  <div id="show_div">
    <ul id="profile_list">

    </ul>
  </div>
</div>





