<!DOCTYPE html>
<html>
<head>
  <title>Find on Facebook</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="fonts/stylesheet.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script> "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"</script>
<script src="javascripts/scripts.js"></script>

</head>
<body>
  <%= yield %>
</body>
</html>
