<form action="/add_item" method="POST">
	<input type="text" name="product" placeholder="Product" />
	<input type="text" name="price" placeholder="price" />
	<input type="submit" value="Add Item" />
</form> 