/*UTIL*/
.clear {
	clear: both;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: white;
	width: 100%;
}


.pg_container{
	width: 960px;
	margin: 20px auto 20px;
}
.inner_container{
	text-align: justify;
	display: inline-block;
}

.text_content h2{
	font-weight: bold;
	font-size: 24px;
	margin: 10px 0;
}

.text_content p{
	line-height: 1.3em;
	margin-bottom: 20px;
}

.box_left{
	display: inline-block;
	margin-right: 5px;
}

.box_mid{
	display: inline-block;
	margin: 0 10px;
}

.box_right{
	display: inline-block;
	margin-left: 5px;
}
