<!-- members page
 -->
<h2>member list</h2>
<ul class="members">
  <% @members.each do |member| %>
    <li>
      <h4><%= member.screen_name %></h4>
      <h4>member id iz...<%= link_to member.id, "/members/#{member.id}"%></h4>
      <p>
        <%= member.member_profile %>
     </p>
    </li>
  <% end %>
</ul>
