<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Still Life">
	<meta name="keywords" content="Still Life Photo">
	<title>Still Life</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="header">
      <h1>StillLife</h1>
      <h2>Saving shared moments.</h2>
    </div>
	<nav>
    <a href="/">Home</a>  |
    <a href="/photos/search">Search</a>


  </nav>
  <div id="wrapper">


	<%= yield %>

  </div>
</body>
</html>
