<section id="beasts">
  <h1>Beasties below...</h1>
  <%= render "diet_form" %>
  <section id="beast-list">
  </section>

  <script type="text/javascript">
    var beastData = <%= @beast.to_json %>;
  </script>

  <%= render :partial => "beast" %>
</section>
