

<h2>Enter stock ticker symbols below:</h2>

<form action="/stock">
	<!-- /name is the new directory that we want -->
	<input type = "text" name="stock_name" size="35" placeholder="Type stock symbols">
   <input type="submit" value="Check Stock!">
<h1><div class=dollar>??</div></h1>

</form>
