<input id="friend_input" type="text" placeholder="Enter username"/>
<button id="add_friend_button">Add Friend</button>

<div id="show_button">Show all friends</div>

<div id="friend_div">
	<ul id="friend_list">
	</ul>
</div>
