<p>
  <form action="/addlunches" method="POST">
  <p>
    <input type="text" name="name" placeholder="Enter a new restaurant" />
  </p>
  <p>
    <input type="text" name="rating" placeholder="Add a rating (1-5)" />
  </p>
  <input type="submit" value="Add restaurant" />
</form>
</p>

<p><a href="/">Return to list</a></p>
