<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Lunch Bot">
  <meta name="keywords" content="Lunch Bot ">
  <link rel="stylesheet" href="/styles.css">
  <title>Lunch Bot</title>
</head>
<body>
<h1>Lunch Bot</h1>

<%= yield %>

</body>
</html>
