<img src="http://www.markstivers.com/wordpress/comics/2007-01-05%20Magic-8-ball.gif" width="425">

<h1>Need answers???</h1>

<h3>Try your luck with the Magic Eight Ball:</h3>

<form action="/magic8ball">
  <input type="text" name="user_question" placeholder="Type your question here"  class="inputbox" >
  <input class="button" type="submit" value="Submit">
</form>
