<div class="notice">

	<h1>ASK JOE</h1>

</div>


<div class="ticker_entry">
<label>Enter question: </label>
<form action="/question">
<input type ="text" name="user_input" placeholder="Type you question here" />
<input type="submit" value="ASK" class="button" />

</form>

</div>

