<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Morning Exercise: Magic Eight Ball">
	<meta name="keywords" content="Magic Eight Ball, exercise, Sinatra, ERB ">
	<title>ASK JOE!</title>
	<link rel="stylesheet" type="text/css" href="reset.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<!-- 	<div class="pg_container">

		<div class="banner">

		</div>

		<div class="content">
		 -->
			<%= yield %>
<!-- 		<br class="clear" />

		</div> -->
		

		<div class="footer">
			JOE ASK &copy 2014
		</div>	

	</div>
	</body>
</html>
