<label>Enter question: </label>


<form action="/question">
<input type="text" name="user_input" placeholder="Type you question here" />
<input type="submit" value="ASK" />

</form>

<h3><%= @response %></h3>