<html>
<head>
	<title>Penguin Pals</title>

	<!-- Libraries -->
	<script type="text/javascript" src="javascripts/libraries/jquery.js"></script>
	<script type="text/javascript" src="javascripts/libraries/underscore.js"></script>
	<script type="text/javascript" src="javascripts/libraries/backbone.js"></script>

	<!-- Templates -->
	    <script type='text/template' id='penguin-template'>
      <%= name %> is a penguin
      <button data-action='destroy'>
        Delete
      </button>
      <button data-action='edit'>
        Edit
      </button>
    </script>

    <script type='text/template' id='edit-penguin-template'>
      <form>
        <input type="text" placeholder="<%= name %>">
        </input>
      </form>
    </script>

	<!-- Backbone App -->
		<script type="text/javascript" src="javascripts/backbone/app.js"></script>
		<script type="text/javascript" src="javascripts/backbone/models/Penguin.js"></script>
		<script type="text/javascript" src="javascripts/backbone/collections/PenguinCollection.js"></script>
		<script type="text/javascript" src="javascripts/backbone/views/penguins/PenguinView.js"></script>
		<script type="text/javascript" src="javascripts/backbone/views/penguins/PenguinListView.js"></script>

</head>
<body>
  <div class='main container'>
    <div class="penguins">

      <div class='penguin-birth-yard'>
        <form class="penguinform">
          <input name="penguin-name" type="text" placeholder='penguin name'>
        </form>
      </div>

      <ul class='penguin-list'></ul>

    </div>
  </div>
</body>
</html>