<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Amazone E-store</title>
</head>
<body>

<h1>Welcome to Amazone E-store</h1>

<a href="/">all items</a> |
<a href="/items/new">new item</a>
<%= yield %>

</body>
</html>