
<h1>New studnets form</h1>
<form action="'/students" method="POST">

     <input type="text" placeholder="new studnet name" name="studnet_name" />
     <input type="submit" value= "Add Student" />
</form>
