<h1>Welcome to planetarium 2</h1>

<a href="/">TO HOME</a>
<hr>

<% Planet.all.each do |p| %>

	Name : <%= p.attributes["name"]%>
	<br>
	Diameter : <%= p.attributes["diameter"]%>
	<br>
	Mass : <%= p.attributes["mass"]%>
	<br>
	Life : <%= p.attributes["life"] == true ? "Colonized" : "Not colonized yet"%>
	<hr>


<% end %>

</ul>
