<header class="logo">

</header>
<div class = form>
<form action="/artist">
  <input type="text" name="artist" placeholder="Enter Artist">
  <input type="submit" value="Find Your Jam">

</form>
</div>

