<header class="logo">
<h5>jammr<span class="brains"></h5>
<h6>find yours</h6>
</header>

<form action="/artist">
  <input type="text" name="artist" placeholder="Artist Name">
  <input type="submit" value="find jam">

</form>


