<!DOCTYPE html>
<html>
<head>
  <title>Music Brainz!</title>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>
<body>
  <h1>WELCOME TO Music Brainz</h1>

  <%= yield %>

</body>
</html>
