<h1>Receipt Generator</h1>


<form action="/save_receipt" method="POST">
<!-- <img src="./images/receipt.jpg" height= "150" width="150"> -->

 	<h4>Enter the company name:</h4> <input type="text" placeholder="company" name="company"><br>

 	<h4>Enter the service provided:</h4>  <input type="text" placeholder="service" name="service"></br>

 	<h4>Enter the service cost:</h4>  <input type="text" placeholder="cost" name="cost"></br>
 		
 	<input type="submit" placeholder="submit" name="submit"></br>

</form>




