 <h3> receipt </h3>

<div class = "box">
<h1> company</h1>
<h2><%= @show_receipt[0]%></h2>
</div>
<div class = "box">
<h1> service</h1>
<h2><%= @show_receipt[1]%></h2>
</div>
<div class = "box">
<h1> cost</h1>
<h2><%= @show_receipt[2]%></h2>
</div>

