<h1>New Receipt Form</h1>

	<form action="/receipts">
		<input type="text" name="receipt_name" placeholder="Company Name:">
		<input type="submit" value="Submit">
	</form>

	<form action="/receipts">
		<input type="text" name="gs_name" placeholder="Good/Service Provided:">
		<input type="submit" value="Submit">
	</form>

	<form action="/reciepts">
		<input type="text" name="cost_name" placeholder="Cost:">
		<input type="submit" value="Submit">
	</form>

