<h1>Magic 8-Ball</h1>
<h2>Ask, and it shall answer!"</h2>


<form action="/magic8ball">
  <input type="text" name="user_question" placeholder="What is the meaning of life?" class="inputbox">
<input type="submit" value="submit" class="button">

</form>
