<!-- Contains the boilerplate HTML information that is passed to the other relevant files. Ruby can intelligently locate files when placed in the 'views' and 'public' folder. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Morning Exercise: Magic Eight Ball">
  <meta name="keywords" content="Magic Eight Ball, exercise, Sinatra, ERB ">
  <link rel="stylesheet" href="styles.css">
  <title>The All-Knowing Magic Eight Ball</title>
</head>
<body>
<h1>Online Receipt Generator</h1>
<h2>Please enter your purchase information below</h2>
<!-- Grabs the input from the pages -->
<%= yield %>

</ br></ br></ br>
</body>
</html>
