<h1>Let's Generate A Receipt!</h1>


<form action='/receipt' method="POST">

  <input type ="text" name="entered_description" size="35" placeholder="Descriptor (ex:'pizza') ">
<br>
<br>
 <input type ="text" name="entered_cost" size="35" placeholder="Cost">
<br>
<br>
   <input type="submit" value="Generate!!">
</form>

<h3><a href='/receipt2'>See last order</a></h3>
