<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Receipt Generator">
  <meta name="keywords" content="Receipt Generator">
  <link rel="stylesheet" href="styles.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <title>Receipt Generating Magic!</title>
</head>

  <body>

<div id="receipt_box">


    <%= yield %>
</div>

  </body>
</html>
