
<h1>YOUR FABULOUS RECEIPT</h1>

<p><strong>That thing you paid for:</strong> <%= @description %></p>

<p><strong>You paid:</strong> <%= @cost %></p>


<h3>We hope you have no regrets</h3>

<h3><a href='/'>BACK</a></h3>
<h3><a href='/receipt2'>See last order</a></h3>

