<h2>Welcome!</h2>


<!-- THE PART THAT MATTERS -->
<h4>Join the mailing list!</h4>
<div class='customers-manager'>
  <ul class='customers'>
  </ul>

  <form class='customer-form'>
    <input type="text" name='name' placeholder='name'>
    <input type="text" name='address' placeholder='address'>
    <input type="text" name='email' placeholder='email'>
    <input type="text" name='loyalty_code'placeholder='loyalty_code'>
    <input type="submit">
  </form>
</div>

