<h1 id="add_link">CLICK TO ADD A BEAST</h1>

<div id="new_form">
  <h1>ADD A NEW BEAST</h1>
<form action="">
<P> Beast Name: <input id="new_name" placeholder="New beast name"/>


Diet type: <select id="new_diet" name="new_diet">
<option value="herbivore">Herbivore</option>
<option value="carnivore">Carnivore</option>
<option value="omnivore">Omnivore</option>
</select>

Habitat: <input id="new_habitat" placeholder="Habitat"/>

Light ethology: <select id="new_light_ethology" name="new_light_ethology">
<option value="nocturnal">nocturnal</option>
<option value="diurnal">diurnal</option>
</select>

Size: <select id="new_size" name="new_size">
<option value="small">Medium</option>
<option value="medium">Small</option>
<option value="large">Large</option>
</select>

<p>Description:</p>
<P><textarea id="new_description" rows="4" cols="50" placeholder="New description"/></textarea></p>


<button id="add_new_beast">CREATE!</button>
</form>

<script id="newBeastTemplate" type="text/template">
<li class="beast">
<div><%%= name %></div>
<div><%%= diet %></div>
<div><%%= light_ethology %></div>
<div><%%= size %></div>
<div><%%= description %></div>
</li>
</script>
</div>
