<h1>ADD A BEAST:</h1>

<form action="">
<P> Beast Name: <input id="new_name" placeholder="New beast name"/>


Diet type: <select id="new_diet" name="new_diet">
<option value="herbivore">Herbivore</option>
<option value="carnivore">Carnivore</option>
<option value="omnivore">Omnivore</option>
</select>

Habitat: <input id="new_habitat" placeholder="Habitat"/>

Light ethology: <input id="new_light_ethology" placeholder="Light preference"/></p>

Size: <input id="new_size" placeholder="Size"/></p>

<p>Description:</p>
<P><textarea id="new_description" rows="4" cols="50" placeholder="New description"/></textarea></p>


<button id="add_new_beast">CREATE!</button>
</form>

<script id="newBeastTemplate" type="text/template">
<li class="beast">
<div><%%= name %></div>
<div><%%= diet %></div>
<div><%%= light_ethology %></div>
<div><%%= size %></div>
<div><%%= description %></div>
</li>
</script>
