

<h3>Welcome to Yahoo Stocks</h3>





<form action="/stock">
	<input type ="text" name="user_stock" placeholder="Type the stock ticker">
</form>
	
<!-- <form action="/photos" method = "POST" enctype="multipart/form-data">
	<input type ="file" name="photo">
	<input type ="submit" value="SUBMIT">
</form> -->