<h1>Welcome to WDI Stocks!</h1>
<h2>Please enter the stock ticker symbol for the company you would like information about</h2>
<form action="/request">
  <input type ="text" name="ticker_symbol" placeholder="Please enter a valid stock value" style="padding: 10px; background-color: red;">

</form>
