

<h1>??Ask the 8-Ball??</h1>


<form action='/question'>
	<input type ="text" name="user_question" size="35" placeholder="Type the question">
   <input type="submit" value="Ask!">
</form>

<br>
<img src="/magic8ball.png" >
