

<h1>You want to know</h1>
  <h1><%= @question %></h1>

<h2>I'd say: <%= @answer %>...</h2>

  <h2><a href='/'>BACK TO THE CYBER 8 BALL</a></h2>

<img src="/computer-crystal-ball.jpg" alt="crystal ball" height="200" width="400">
