<!DOCTYPE html>
<html>
<head>
  <title>kfm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    	<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
</head>
<body>
	  <h1>Murder | Mate | Marry</h1>

<%= yield %>

    <a href="/show">VIEW YOUR PAST CHOICES</a>

</body>
</html>
