<html>
<head>
  <title>Amazoom</title>
</head>
<body>
  <h1>Items</h1>
  <nav>
    <a href="/">List of Items</a> |
    <a href="/items/new">Make a New Item</a>
  </nav>
  <%= yield %>
</body>
</html>
