<h1>Make a new item</h1>

<form action="//items/:id/view" method="POST">
  <p>
    <input type="text" name="title" placeholder="enter title" />
  </p>
  <p>
    <input type="text" name="price" placeholder="enter price" />
  </p>
 <p>
    <input type="text" name="description" placeholder="enter description" />
  </p>
  <p>
    <input type="text" name="quantity" placeholder="enter quantity" />
  </p>
  <p>
    <input type="text" name="time" placeholder="enter time" />
  </p>
  <input type="submit" value="Add to Inventory" />
</form>
