<h1>subtraction<%= @function = @num1 - @num2 %></h1>

<h1>addition<%= @function = @num1 + @num2 %></h1>

<h1>division<%= @function = @num1 / @num2 %></h1>

<h1>multiply<%= @function = @num1 * @num2 %></h1>
