<h1>Search Results</h1>

<h1><%= @artist_hash["name"] %> is a <%= @artist_hash["gender"] %></h1>

<img src= <%= @image %>>

<% @album_art.each do |album| %>
  <img src= <%= album["artworkUrl100"] %>>
<% end %>


