<html>
<head>
	<title>WDI Stocks</title>
	<link rel="stylesheet" type="text/css" href="reset.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

	<div class="banner">

	</div>

	<div class="pg_container">
		<%= yield %>
	<br class="clear" />
	</div>

	</body>
</html>
