<form action="/items/#{item.id}" method="POST">
  <p>
    <input type="text" name="name" placeholder="product/service name" />
  </p>
  <p>
    <input type="number" name="price" placeholder="price" />
  </p>

  <p>
    <input type="text" name="description" placeholder="description" />
  </p>

   <p>
    <input type="number" name="quantity" placeholder="quantity" />
  </p>


  <input type="submit" value="Update Item" />

</form>


<!-- form.update action="/task/#{task.id}" method="POST"
    input type="hidden" name="_method" value="PUT"
    -if task.completed_at.nil?
      input type="submit" value="  " title="Complete Task"
    -else
      input type="submit" value="✓" title="Uncomplete Task" -->
