<h2><%= @country.name %></h2>

<ul>
<% @country.people.each do |person| %>
	<li><%= person.name %><li>
	 <li>
	 	<ul><% @country.people.each do |person| %>
	 	  <li><%= person.name %><li>
	 	    <% end %>
	 	</ul>
	 </li>
<% end %>
</ul>

<%= render partial: "people/personform", locals: { person_local: @person } %>