<form action="/add" method="POST">
  <p>
    <input type="text" name="lunch_name" placeholder="lunch name" />
  </p>
  <p>
    <input type="text" name="rating" placeholder="rating" />
  </p>
  <input type="submit" value="Create Review" />
</form>
