<div>
	<input id="task_text_input" placeholder="enter a task">
	<input id="due_date_input" placeholder="enter a due date">

	<button id="add_task_button">Add Task</button>
</div>

<ul id="incomplete_tasks">

</ul>

<div id="editme1" class="edit_inline">Foo! Bar!</div>
