<div>
  <strong>Diet:</strong>

  <input type="radio" name="diet" value="any" /><label for="diet_any">Any</label>

  <input type="radio" name="diet" value="herbivore" /><label for="diet_herbivore">Herbivore</label>

  <input type="radio" name="diet" value="carnivore" /><label for="diet_carnivore">Carnivore</label>

  <input type="radio" name="diet" value="omnivore" /><label for="diet_omnivore">Omnivore</label>

  <button id="selection_button">Filter</button>
</div>