<form action="/iten" method="CREATE">
  <p>
    <input type="text" name="title" placeholder="title" />
  </p>
  <p>
    <input type="text" name="author" placeholder="your name" />
  </p>
  <p>
    <textarea name="body" placeholder="Enter Descriptoin"></textarea>
  </p>
  <input type="submit" value="Create Post" />
</form>
