  <article class="beast">
    <header>
      <h1><%= name %></h1>
      <%= image_tag(image_filename || 'unavailable.png') %>
    </header>
    <section class="entry-body">
      <%= attribute_table, %w(diet habitat light_ethology size) %>
      <% description_paragraphs.each do |p| %>
        <p><%= p %></p>
      <% end %>
    </section>
  </article>