<%%var beastAttributes = { "Diet": diet, "Habitat": habitat, "Light Ethology": light_ethology, "Size": size } %>
<%%var unavailable = "unavailable.png"%>
<article class="beast" id="beast-<%%= id %>">
  <header>
    <h1><%%= name %></h1>
    <%% if (typeof image_filename == 'string') { %>
      <img src="/assets/<%%=image_filename%>"/>
    <%% } else {  %>
      <img src="/assets/<%%=unavailable%>"/>
    <%% } %>
  </header>
  <section class="entry-body">
    <table>
      <tbody>
      <%% $.each(beastAttributes, function(k,v) { %>
        <tr class="<%%=v%>">
          <td class="key"><strong><%%= k %></strong></td>
          <td class="value"><%%= v %></td>
        </tr>
      <%% }) %>
      </tbody>
    </table>
    <%% if (typeof description == 'string') { %>
    <%%description = description.split('\n').join('<br>'); }%>
    <p><%%= description%></p>
  </section>
</article>
