<button class="diet" id="diet_any" value="any">ANY</button>
<button class="diet" id="diet_herbivore" value="herbivore">HERBIVORE</button>
<button class="diet" id="diet_carnivore" value="carnivore">CARNIVORE</button>
<button class="diet" id="diet_omnivore" value="omnivore">OMNIVORE</button>
