<strong>Filter Diet:</strong>

<button class="diet" id="any">Any</button>
<button class="diet" id="herbivore">Herbivore</button>
<button class="diet" id="carnivore">Carnivore</button>
<button class="diet" id="omnivore">Omnivore</button>