<section id="beasts">
  <h1>Beasties below...</h1>
  <%= render "diet_form" %>
  <section id="beast-list">
  </section>
</section>


<script id="beastTemplate" type="text/template">
<%= render "beast" %>
</script>
