<input id="find_on_facebook" type="text" placeholder="Search for a friend" />
<button id="find_button">Grab A Friend</button>

<div id="show_button">Show</div>

<div id="show_div">
	<ul id="friend_list">
	</ul>
</div>