<DOCTYPE html>

<h3> "Please choose (R)ock, (P)aper or (S)cissors" </h3>
<form action='/play' method="GET">
  <input type="text" name="user_input" placeholder="type entry here">
  <input type="submit" value="SUBMIT">
</form>