<!-- <DOCTYPE html>

# <h3><% puts <%=#{}"You have tied. please select again" %></h3>
<h3> "Please choose (R)ock, (P)aper or (S)cissors" </h3>
<form action='/play' method="GET">
  <input type="text" name="user_input" placeholder="type entry here">
  <input type="submit" value="SUBMIT">
</form> -->