<h1>Welcome to Myspace</h1>
<h3>Hi I'm Tom, your first friend</h3>

<form actions="/friend">
	<input type="text" name="username" placeholder="Search for a friend" />
	<button type="Submit">Search</button>
</form>
