<h2>Your receipt is below:</h2>

<ul>
	<li>Receipt number: <%= @transaction_serial %><br></li>
	<li>Item: <%= @item_name %> <br></li>
	<li>Cost: $<%= @item_cost %> <br></li>
	<li>Transaction Time: <%= @transaction_time %><br></li>
</ul>
