<h1>Receipt App</h1>
<h3>Please enter the goods and service you have received:</h3>
<form action= "/enter">
  <input type ="text" name="goods_input" placeholder="Goods or Service">
  <input type ="submit" value="Submit"/>
  <br>
<h3>How much did it cost?</h3>
</form>
<form action= "/enter">
  <input type ="text" name="cost_input" placeholder="Cost">
  <input type ="submit" value="Submit"/>
</form>
