<form action="/planets" method="post">
<p><input type="text" name="name" placeholder="Name of Planet"></p>
<p><input type="text" name="photo" placeholder="Image Url of Planet"></p>
<p><input type="text" name="diameter" placeholder="Diameter of Planet"></p>
<p><input type="text" name="mass" placeholder="Mass of Planet"></p>
<p><input type="text" name="life" placeholder="Planet has life?"></p>
<input type="submit" name="submit" value="submit">
</form>
