<center><div style="border: solid black 10px; border-radius: 500px; background-color: #F5F5DC; height: 300px; width: 300px;">

<h1 style="text-align: center; font-family: helvetica; color: black; margin-top: 40%;">Hello there...</h1>

<form action="/name">
  <input type ="text" name="user_name" placeholder="What's your name?" style="padding: 10px;">

</form>

</div></center>
