<center><div style="border: solid black 10px; border-radius: 500px; background-color: #F5F5DC; height: 300px; width: 300px;">

<h1 style="text-align: center; font-family: helvetica; margin-top: 40%;">Hello, <%= @name.capitalize %>! </h1>

<form action="/mood">
  <input type ="text" name="user_mood" placeholder="How are you doing?" style="padding: 10px; margin-bottom: 150px;">

</form>

</div></center>
