<!--
<!DOCTYPE html>
<html>
  <head>
    <h1> Instapin <h1>
    <h2> Enter your username to begin finding and saving your inspiration! <h2>
   <body>
    <FORM METHOD="LINK" ACTION="/select">
      <INPUT TYPE="submit" VALUE="Let's Go!">
    </FORM>
   </body>
  </head>
</html> -->


<header class="logo">

</header>
<div class = form>
<!-- <form action="/select">
  <input type="text" name="tag" placeholder="Enter Tag">
  <input type="submit" value="INIT">

</form> -->


<FORM METHOD="LINK" ACTION="/select">
      <INPUT TYPE="submit" VALUE="Initialize">
    </FORM>
</div>

