<!DOCTYPE html>
<html lang="en">
<head>
  <title>instapin</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="normalize.css" />

</head>
<header>
    <div class="banner">
    <img src='../images/finallogo.jpg'>
  </div>

</header>
<body>



  <%= yield %>

</body>
</html>
