<html>
<head>
	<title>Lunch Bot</title>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<h1>Lunch Bot</h1>
	<nav>
		<form action="/lunch" method="POST">
		</form>
		<a href="/">all lunches</a> |
		<a href="/lunches/new">new lunch</a>
	</nav>
	<%= yield %>
</body>
</html>
