<form action="/lunches" method="POST">
  <p>
    <input type="text" name="lunch_name" placeholder="Lunch Spot Name" />
  </p>
  <p>
    <input type="text" name="rating" placeholder="Enter Rating" />
  <input type="submit" value="Create Lunch Spot" />
</form>
