<!DOCTYPE html>
<html>
<head>
	<title>Juice For All!</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<script src='javascripts/jquery.js'></script>
	<script src='javascripts/underscore.js'></script>
	<script src='javascripts/backbone.js'></script>

	<script id='juice_template' type='text/template'>
		<p>Juice: <%= juice.juice_name %></p>
		<p id="ingredients">Ingredients:
		<ul>
		<%= juice.ingredients %>
		</ul>
	</script>

	<script src='javascripts/app.js'></script>
</head>
<body>

	<div id="juice-holder">
		<ul id="juice-list">
		</ul>
	</div>

</body>
</html>
