<input id="quiz_input" type="text" placeholder="Enter the name of your quiz" 
<button id="add-quiz-button" class="btn">Add Quiz</button>

<button id="show-button" class="btn btn-default">Show</button>

<div id="show_div">
	<ul id="quiz_list">
	</ul>
</div>
<div id="my_box">
<p>Hello World</p>
</div>
<button onclick="stopTextColor();">Stop</button>
