
<h2>Customers</h2>



<div class='customers-manager'>
  <ul class='customers'>
  </ul>

  <form class='name-form'>
    <input type="text" name='name' placeholder='name'>
    <input type="text" name='address' placeholder='address'>
    <input type="text" name='email' placeholder='email'>
    <input type="text" name='loyalty_code' placeholder='loyalty code'>
    <input type="submit">
  </form>


</div>
