/* UTILITY */
.clear {
	clear: both;	
}

/* NAV BAR */
nav {
	width: 100%;
	height: 28px;
	background: #FFB6C1;
}

.right {
	float: right;
	list-style: none;
	margin: 5px 5px;
	/*mar*/
}

.right li {
	display: inline;
	background: #3399FF;
	padding: 0 5px;
}

/*STATIC PARENT*/
.container {
	width: 960px;
	background: LightGrey;
	margin: 10px;
}

/*BOX*/
.box {
	position: static;
	width: 100px;
	height: 100px;
	border: solid #999 1px;
	background: #00FFFF;
	margin: 10px;
}

.box_center {
	width: 100px;
	height: 100px;
	border: solid #999 1px;
	background: #00FFFF;
	margin: 0 auto;

}

.box_left {
	float: left;
	width: 100px;
	height: 100px;
	border: solid #999 1px;
	background: #00FFFF;
	margin: 5px;
}

.box_right {
	float: right;
	width: 100px;
	height: 100px;
	border: solid #999 1px;
	background: #00FFFF;
	margin: 5px;
}

.text {
	display: inline;
}