<!DOCTYPE html>
<html>
<head>
	<title>juice_shack</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<script src='javascripts/jquery.js'></script>
	<script src='javascripts/underscore.js'></script>
	<script src='javascripts/backbone.js'></script>
	<script src='javascripts/app.js'></script>

  <script id = 'juice_template' type='text/template'>
    Flavor: <%= juice.flavor %>, Fruit: <%=juice.fruit %>, Vegetable: <%= juice.vegetable %>
  </script>

  <script src='javascripts/app.js'></script>
</head>
<body>

  <div id="juice-here">
    <ul id="juice-list">
    </ul>
  </div>
</body>
</html>
