body {
  background: url("http://31.media.tumblr.com/25f0c0ada53d15430ab506ce4d2fc836/tumblr_mn823bSmHF1s96utdo1_400.gif");
  background-size: cover;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  color: pink;
}
h3 {
  color: pink;
}
