<!DOCTYPE html>
<html>
	<head>
			<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

			<script type="text/javascript">
				$(document).ready(function(){

					$("#users-list").load("/load");
					// $("#users-list").load("/load");

				});
			</script>


	</head>
<body>
	hey
		<ul id="users-list">
			<li>Max</li>
			<li>Elvis</li>
			<li>Joffry</li>
		</ul>
</body>


</html>