<h1>Determine your future:</h1> <br> <h3>ask the magic 8 ball...</h3>

<form action="question">
  <input type ="text" name="question" placeholder="ask any open ended question" class=
  "form">
</form>

<form name="input" action="demo_form_action.asp" method="get">
<input type="submit" value="Submit" class="button">
</form>
