<h1>FINDR</h1>

<input id="name_input" type="text" placeholder="Enter Name" />
<button id="search">Find On Facebook</button>

<div id="show_div">
	<ul id="previous">
	</ul>
</div>

<div id="show_div">
	<ul id="user_new">
	</ul>
</div>

<button id="show_button">Show</button>

<div id="show_div">
  <ul id="user_list">
  	<ol id="details">
  	</ol>
  </ul>
</div>