<h1>w3lcome</h1>
<h3>Enter your stock ticker below:</h3>

<form action="/name">
  <input type ="text" name="user_name" placeholder="Type your name">
</form>

<h1 class = "heading"> Hello, <%= @name %></h1>
