<html>
<head>
	<title>ERB yo!</title>
	<!-- <link rel="stylesheet.css"> for a normal html code -->
</head>
<body>
	<!-- all erb files will go through this layout file first because of the yield command -->
	<!-- Sinatra will load layout.erb everytime -->
	<%= yield %>
</body>
</html>