<h1>Students of WDI</h1>
<nav>
  <!-- CREATE -->
  <a href="/students/new">add student</a> |
  <!-- READ -->
  <a href="/students">show students</a> |
  <!-- UPDATE -->
  <a href="/students/edit">edit student</a> |
  <!-- DESTROY -->
  <a href="/students/destroy">remove student</a> |
</nav>
