<%= form_for @company do |f| %>
  <%= f.text_field :name, :placeholder => "Name", class: 'input' %>
  <%= f.submit "Create", class: 'button' %>
<% end %>

<h2>Companies</h2>
<ul class="users">
  <% @companies.each do |company| %>
    <li><%= link_to company.name, "/companies/#{company.id}" %></li>
  <% end %>
</ul>


