<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <title>Untitled</title>
</head>
<body>

  <%= erb :nav %>

  <%= yield %>

</body>
</html>
