<h1>New Receipt</h1>

<form action="/receipts" method="POST">
  <!-- <input type="text" placeholder="Enter Company/Person" name="receipt_name" />
  <input type="submit" value="Add name" />

  <!-- this is added -->



<input type="text" placeholder="Enter Date (MM/DD/YY, time)" name="date_name" />
<input type="text" placeholder="Enter Company/Person" name="receipt_name" />
<input type="text" placeholder="Enter Goods/Service" name="service_name" />
<input type="text" placeholder="Enter Cost" name="cost_name" />
  <input type="submit" value="Add" />





</form>

