<div class="contact_wrapper">

    <h2>CONTACT US</h2>

    <p>The Man in Black wants you to reach and out and have a drink with us.</p>

<!--     <div class="contact_form_wrapper" -->

        <form action="" method="POST" >
            <div class="contact_form">
                <label>
                    <input class="input_width" type="hidden" name="action" value="submit"/> Your name:<br />
                    <input class="input_width" name="name" type="text" value="" size="30"/> <br /> Your email:<br />
                    <input class="input_width" name="email" type="text" value="" size="30"/> <br /> Your message:<br />
                    <textarea name="message" rows="7" cols="30"> </textarea> <br />
                    <input class="button_style" type="button" value="SUBMIT" />
                </label>
        </form>
            </div>

</div>


