<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
   <!--  <div class="banner">
      Stock Trading
    </div> -->

<div class="container">

    </div>

<%= yield %>
</body>
</html>
