body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

a{
  text-decoration: none;
}

.gain {
  background-color: #71C671;
}

.loss {
  background-color: #B22222;
}

#boxes {
  height: 50px;
  width: 70px;
  line-height: 50px;
  text-align: center;
  color: white;
}

.search_again{
  margin-top: 60px;
}
