<h1>Imagination</h1>

<!-- <img src="http://imgs.tuts.dragoart.com/how-to-draw-dee-dee_1_000000004130_5.jpg"> -->

<form action="/receipt">
	<input type="text" placeholder="Good/Service Name" name="name">
	<input type="text" placeholder="Cost" name="cost">
	<input type="submit" value="Receipt">
</form>

