<h1>Company Name here</h1>

<form action="/receipt">
	<input type="text" placeholder="Good/Service Name" name="name">
	<input type="text" placeholder="Cost" name="cost">
	<input type="submit" value="Receipt">
</form>