<div class="notice">

	<h1>8ball</h1>

</div>


<div class="question_entry">
	<label>Question?</label>
	<form action="/name" id="question_form">
	  <input type ="text" name="question" placeholder="Type the question">
		<input type="submit" value="GO">
	</form>


</div>

