<h3>Get all the info about your favorite artists</h3>

<!--  -->

<!-- standard form to enter data for API -->
<form action="/artist">
  <input type="type" name="artist_name" placeholder="Search for an artist">
  <button type="submit">Search!</button>
</form>
