<h2><%= @band.title %></h2>
<div class="band_body">
  <table>
  <caption>Instruments</caption>
  <thead>
      <tr>
        <th>name</th>
      </tr>
  </thead>
  <p class="band_bio">
    <%= @band.bio %>
  </p>
</div>
