<div class="span_8_of_12 title">
  <h1>Quizify</h1>
  <input id="quiz_input" type="text" placeholder="Quiz name please" />
  <button id="add_quiz_button">ADD QUIZ</button>
  <div id="show_div">
    <ul id="quiz_list">

    </ul>
  </div>
</div>
