<h2>Welcome to Stalkr</>

<input id="facebook_search_request" type="text" placeholder="Who are you stalking today?" />
<button id="send_input_button">Send</button>

<div id="show_button">Show</div>

<div id="show_div">
  <ul id="record_list">
  </ul>
</div>


<div id="template">
</div>
