<!DOCTYPE html>
<html>
  <head>
      <title>Stalkr</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="javascripts/scripts.js"></script>
  </head>
<body>

  <%= yield %>

</body>


</html>
