<!DOCTYPE html>
<html lang="en">

<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../public/style.css">

  <title>Magic Eight Ball</title>
</head>
<body>
  <div style="margin-left:auto;
margin-right:auto;
width:70%; font-family: 'Dosis', sans-serif;">
  <h1>Welcome to the Magic Eight Ball</h1>

<h3>PLEASE ASK A QUESTION BELOW</h3>
<form action="/answer">
  <input type ="text" name="user_question" placeholder="Type your question" class"input_box">
  <input type= "submit" value="SHAKE BALL" class="button">
</form>
<img src="http://www.tailorforpenguins.com/page2/page0/files/stacks_image_67.jpg">
</div>
</body>
</html>
