<div>
  <input id="task_text_input" placeholder="enter a task" />
  <input id="due_date_input" placeholder="enter a due date" />

  <button id="add_task_button">Add Task</button>

</div>

<div id="show_all">
  <ul id="task_list">
  </ul>
</div>

