
<h1 class="title">SEARCH FOR AN ARTIST<h1>

<form action="/results">
  <input type="text" name="artist" placeholder="Search Artists"  class="artist_search">

  <input class="button" type="submit" value="Submit" class="button">
</form>
