<html>
<head>
  <title>INSTAGRAM PHOTO APP</title>
</head>
<body>
  <h1>WELCOME TO OUR NIGHTMARE!</h1>
  <nav>
    <a href="/">Horrible Dreams Do Come True</a>
    <!-- <a href="/photos/new">new photo</a> -->
  </nav>
  <%= yield %>
</body>
</html>
