body{
	background-color: #fff;
}
a.hover{
	background-color: red;
}

.pg_container{
	width: 960px;
	margin: 0 auto;
	padding: 20px;
}
.top_content{
	background-color: cyan;
	padding: 20px;
}
.content{
	background-color: orange;
	padding: 20px;
}
