<div id="title">

<h3 class="logo" id="logo">Guess who?</h3>

</div>
<div id="main">

  <div id="countDown">
<span class="counter">10</span>
</div>
<input id="quiz_input" type="text" placeholder="Enter a name"/>
<button class="add_quiz" id="add_quiz_button">Guess!</button>

<!-- <div id="show_button"></div>
 -->
<div id="show_div">

  <div id="img"></div>



<ul id="quiz_list">


</ul>
</div>
</div>
