<center><div class="main">
    <h1 class="logoh">MUSIC</h1>
      <form action="/search">
        <input type="text" name="artist_search" placeholder="Artist Name">
        <button type="submit" >Search</button>
      </form>
</div></center>
