<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MYSPACE</title>
  <link href="style.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
</head>
<body>

    <%= yield %>
  </body>
</html>
