<div  class="welcome">Welcome to musicbrainz</div>
<div class="search"><form action='/search' method="GET">
  <input id="home_text" type="text" name="search" placeholder="Search by Artist">
  <input id="home_submit" type="submit" value="SUBMIT">
</form>
</div>
