<!DOCTYPE html>
<html>
<head>
  <title>TheArena</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Welcome to the Arena</h1>


<%= yield %>

</body>
</html>
