<div class ="display">
<h1>Particular Assembly Inc.</h1>

<form action="/name">
	<input type="text" name="product" placeholder="Enter Product Name" />
	<input type="text" name="price" placeholder="Cost of Goods/Services" />
	<input type="submit" value="Print Receipt!" />
</form>
</div>