<h1>Particular Assembly Inc.</h1>

<ul>
	<li>Company Name: Particular Assembly Inc.</li>
	<li>Good/Services Provided: <%= @purchase %></li>
	<li>Cost: <%= @cost %></li>

</ul>



<form action="/name">
	<input type="text" name="product" placeholder="Enter Product Name" />
	<input type="text" name="price" placeholder="Cost of Goods/Services" />
	<input type="submit" value="Print Receipt!" />
</form>