<div id="header">
<h1>Cosmos Creator</h1>
<h2>Where imagination and planets collide!<h2>
</div>
<div id="nav">
  <p><%= link_to "Show All", "/planets/" %>  |  <%= link_to "Add Planet", "/planets/new" %></p>
</div>
<div id="content">
</div>
<footer>
  </footer>

