<h1>Receipt Generator</h1>

<form action="/company_name">
  <input type="text" name="company_name" placeholder="Type company name here"  class="inputbox">
 <!--  <input class="button" type="submit" value="Submit"> -->
</form>

<form action="/service">
  <input type="text" name="service" placeholder="Type good service here"  class="inputbox">
<!--   <input class="button" type="submit" value="Submit"> -->
</form>

<form action="/cost">
  <input type="text" name="service" placeholder="Type the cost"  class="inputbox">
</form>
  <input class="button" type="submit" value="Submit">


