<!DOCTYPE html>
<html>
<head>
	<title>juice_shack</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<script src='javascripts/jquery.js'></script>
	<script src='javascripts/underscore.js'></script>
	<script src='javascripts/backbone.js'></script>

    <script id='juice_template' type='text/template'>
    Juice: <%= juice.title %>, Ingredients: <%= juice.ingredients %>
   </script>


	<script src='javascripts/app.js'></script>
</head>
<body>
  <h1>Welcome to the Juice Shack</h1>
  <div id="cup">
    <ul>
    </ul>
  </div>
</body>
</html>
