<h1>Thank You For Shopping At Stewie's Five and Dime</h1>

 <form action="/name">
  <input type="text" name="name" placeholder="Type Name of Goods">
  <input type="text" cost="cost" placeholder="Type Cost of Goods">
  <button type="submit" >Submit</button>
</form>
