<html>
<head>
	<title>WDI Stocks</title>
	<link rel="stylesheet" type="text/css" href="reset.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div class="pg_container">

		<div class="banner">

		</div>

		<div class="content">
		
			<%= yield %>
		<br class="clear" />

		</div>
		

		<div class="footer">
			WDI STOCKS &copy 2014
		</div>	

	</div>
	</body>
</html>
