


<!-- THE PART THAT MATTERS -->
<h4>Sophie's Homework</h4>
<div class='people-manager'>
  <ul class='people'>
  </ul>

  <form class='name-form'>
   <input type="text" name='name' placeholder="name">
   <input type="text" name='address' placeholder="address">
   <input type="text" name='email' placeholder="email">
   <input type="text" name='loyalty_code' placeholder="loyalty code">
    <input type="submit">
  </form>
</div>






