<div class= "storymaster">
  <!-- <div class="background_form"> -->
    <!-- <div class = "formhead"> -->
      <form action="/story" method="GET">
        <ul>
          <li><input type="text" name="place" placeholder="name a place!" /></li>
          <li><input type="text" name="adverb" placeholder="pick an adverb" /></li>
          <li><input type="text" name="animal" placeholder="name an animal!" /></li>
          <li><input type="text" name="container" placeholder="type of container" /></li>
          <li><input type="text" name="verb" placeholder="verb in past tense" /></li>
          <li><input type="text" name="flower" placeholder="name a plant" /></li>
          <li><input type="text" name="celeb" placeholder="your favorite celebrity" /></li>
          <li><input type="text" name="room" placeholder="type of room" /></li>
          <li><input type="text" name="flavor" placeholder="pick a flavor" /></li>
          <li><input type="text" name="figment_of_i" placeholder="imaginary character" /></li>
          <li><input type="text" name="food" placeholder="wouldn't want to eat this" /></li>
          <input type="submit" class="button" value="Read My Story" />
        </ul>
      </form>
    <!-- </div> -->
  <!-- </div> -->
</div>
