<html>
<head>
  <title>AmaZone E Store</title>
</head>
<body>
  <h1>AmaZone E Store</h1>
  <!-- <h3>Please select an option below:</h3> -->
  <nav>
 <!--    <select>
  <option value="Add a new product">Add</option>
  <option value="Show product Inventory">Saab</option>
  <option value="Update a product">Mercedes</option>
  <option value="Delete a product">Audi</option>
</select> -->
<!-- <p>
    <input type="text" name="choice" placeholder="enter choice here" />
  </p> -->

    <a href="/">Show all items</a> |
    <a href="/items/new">Add an item</a>

  </nav>
  <%= yield %>
</body>
</html>
