<form action="/items" method="POST">
  <p>
    <input type="text" name="name" placeholder="item name" />
  </p>
  <p>
    <input type="text" name="price" placeholder="item price" />
  </p>
   <p>
    <input type="text" name="description" placeholder="item description" />
  </p>
  <p>
    <input type="text" name="quantity" placeholder="item quantity" />
  </p>
  <!-- <p>
    <textarea name="body" placeholder="Enter Your Post Here"></textarea>
  </p> -->
  <input type="submit" value="Create New Item" />
</form>
