<form action="/items/<%= @item.id %>" method="POST">
  <p> You currently have <%= @item.quantity %> <%= @item.name %>s.
  </p>
  <p>
    How many <%= @item.name %>s would you like to order?
  </p>
   <p>
    <input type="text" name="shipment" placeholder= "Quantity you're ordering"/>
  </p>

  <input type="submit" value="Order Item" />
</form>
