
<h1>Hi! Put your question, please!</h1>
<body>
	<form action="/magic8ball">
	<input type = "text" name="user_question" placeholder="Type your question here" class = "inputbox">

	<input type= "submit" value="Submit!" class="button">
	</form>


