<center><div class="ball" style="border: solid black 10px; border-radius: 500px; height: 300px; width: 300px; background-color: black; font-family: impact; background: -webkit-radial-gradient(#404040, black); /* Safari 5.1 to 6.0 */
background: -o-radial-gradient(#404040, black); /* For Opera 11.6 to 12.0 */
background: -moz-radial-gradient(#404040, black); /* For Firefox 3.6 to 15 */
background: radial-gradient(#404040, black); /* Standard syntax */">
    <h1 style="font-size: 80px; margin-top: -10px; color: white;">8</h1>
    <h2 style="margin-top: -50px; color: white;"><%= @question %></h2>
    <div class="display" style="border: solid black 1px; border-radius: 500px; height: 150px; width: 150px; background-color: white; margin-top: -10px; background: -webkit-radial-gradient(white, #F0F0F0);
    background: -o-radial-gradient(white, #F0F0F0);
    background: -moz-radial-gradient(white, #F0F0F0);
    background: radial-gradient(white, #F0F0F0);">
    <h3 style="padding: 10px; margin-top: 45px;"> <%= @answer %> </h3>
  </div>
</div></center>
