<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" href="/styles.css">
  <title>Amazon e-Store</title>
</head>
  <body>
    <h1>Amazon e-Store</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/items">Show All</a> |
      <a href="/items/new">Add</a>
    </nav>
    <%= yield %>
  </body>
</html>
