<form action="/items/new" method="POST">
  <p>
    <input type="text" name="name" placeholder="Item name" />
  </p>
  <p>
    <input type="number" name="price" placeholder="Price" />
  </p>
  <p>
    <textarea name="description" placeholder="Item description"></textarea>
  </p>
  <p>
    <input type="number" name="quantity" placeholder="How many?" />
  </p>

  <input type="submit" value="Create Item" />
</form>
