<form action="/items" method="POST">
  <p>
    <input type="text" name="name" placeholder="name" />
  </p>
  <p>
    <input type="text" name="price" placeholder="price" />
  </p>
  <p>
    <input type="text" name="quantity" placeholder="quantity" />
  </p>
  <p>
    <textarea name="description" placeholder="Enter Your Description Here"></textarea>
  </p>
  <input type="submit" value="Create Item"/>
</form>

<%= :item_view %>
