<!-- 	<a href="/gallery">Favorites</a>
<img src=""> -->

<a href="/gallery"><img src="http://static.tumblr.com/e704b6fa78af852c68ab33945917a90c/rgwgoix/jUMmylda4/tumblr_static_marisa-lerin-blue-star-3-asset-embellishment-shape.png" width="150" height="150"></a></p>

<!-- <div class="inline"> -->

<a href="/"><img src="<%= @target_url %>" ></a>



<a href="/"><img src="http://www.corporatecomplianceinsights.com/wp-content/uploads/2013/06/Facebook-thumbs-up.jpg" width="150" height="150"></a></p>


<form action="/save" method="post">
	<input type="hidden" name="url" value="<%= @target_url %>">
<!-- 	<input type="submit" name="save" value="Thumbs UP" />
 --></form>



<!-- </div> -->
<!-- <form action="/gallery" method="get">
	<button>Favorites</button>
</form> -->

