<div id="title">

<h3 class="logo" id="logo">Ajaxing Facebook</h3>

</div>
<div id="main">

  <div id="countDown">
<span class="counter"></span>
</div>
<input id="user_name_input" type="text" placeholder="Enter a name"/>
<button class="find" id="find_user_button">Find on Facebook</button><br>
<button class="show" id="show_users">Show users found</button>

<!-- <div id="show_button"></div>
 -->
  <div id="answer">
<span class="correct"></span>
</div>

<div id="show_div">



<ul id="user_list">


</ul>
</div>
</div>
