body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  background: #FFFFCC;
  padding-top: 25px;
}

#receipt_box {
  margin: auto;
  width: 500px;
  height: auto;
  background-color: gray;
  border: 3px;
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 20px;
  border: solid;
  border-width: 7px;
}

ul {
  text-align: left;
}
