body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 15px;
  padding-bottom: 25px;


}

#container{
  margin: auto;
  width: 70%;


}


nav ul {
  /*float: right;*/
}

nav ul li {
  background-color: cyan;
  list-style-type: none;
  display: inline;
  padding: 10px;
  margin: 0px 5px;
}


form {
  padding-bottom: 25px;
}
/*
#box {

  margin: auto;
  width: 500px;
  height: auto;
  background-color: #F0FFB3;
  border: 3px solid black;
  border-radius: 20px;

}*/

.button {
  padding-bottom: 20px;
}

a {
  color: black;
  text-decoration: none;
}

