
<form action="/receipt" method="post">
	


  <input 
  class = "name_box"
  type="text" 
  name = "name" 
  placeholder = "Please, type a name of a good or service"  
  >

<br>
  <input 
  class = "price_box"
  type="text" 
  name = "price" 
  placeholder = "Please, type a price for this good or service" 
  >

<br>

  <input 
  class="button" 
  type="submit" 
  value="Submit">
</form>


<form action="/history" method="get">

<br>
  <button type="submit">See a History</button> 
</form>

<!-- <h1><%= :test %></h1> -->