* {
  box-sizing: border-box;
}

html {
  background: url(../images/background.jpg) repeat-x;
  background-color: #D6D6D6;
}

div{
  display: block;
}

p{
  font-size: 13px;
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  height: 100%;
  overflow: hidden;
}

#main_logo{
  /*margin: 0 auto;
  background:*/
  background: url(../images/logo.png) no-repeat center;
  height: 216px;
  margin: 20px 0 40px;
}

footer {
  clear: both;
  height: 150px;
}

.social_footer{
  line-height: 170px;
  margin: 0 auto;
  text-align: center;
}

#content,
#sidebar {
  position: relative;
  background-color: white;
  height: 100%;
}


#content{
  float: left;
  width: 640px;
  padding-bottom: 80px;
}

#sidebar{
  float: right;
  width: 290px;
  padding-bottom: 50px;
}

.sidebar_zone{
  margin: 30px;
}

.sidebar_zone h4{
  font-size: 15px;
  margin: 0;
}

.sidebar_zone ul{
  margin: 0px;
  padding: 0px;
}

.sidebar_image{
  margin: 20px 30px;
}

.sidebar_zone ul li{
  list-style: none;
  margin-left: 0;
  margin: 10px 0;
  font-weight: bold;
  font-size: 15px;
}


.blog_post{
  margin: 40px 20px 0px 20px;
}

.blog_post p{
  line-height: 1.5em;
}

.blog_post a{
  color: #FF6600;
  font-weight: bold;
}

.post_footer{
  height: 40px;
  border-top: 1px dotted black;
  border-bottom: 1px solid black;
}

.post_footer p{
  margin: 0 10px;
  line-height: 40px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.clear{
  clear: both;
}
