<form id="beast-form">
  <strong>Diet:</strong>
  <input checked="checked" id="diet_any" name="diet" type="radio" value="any">
  <label for="diet_any">Any</label>
  <input id="diet_herbivore" name="diet" type="radio" value="herbivore">
  <label for="diet_herbivore">Herbivore</label>
  <input id="diet_carnivore" name="diet" type="radio" value="carnivore">
  <label for="diet_carnivore">Carnivore</label>
  <input id="diet_omnivore" name="diet" type="radio" value="omnivore">
  <label for="diet_omnivore">Omnivore</label>
</form>
