<!DOCTYPE html>
<html>

<head>
  <title>rectangles are fun!</title>

  <style>
    #rectangle {
      margin: 300px auto;
      background-color: blue;

      /*border-width: 20px;
      border-color: green;
      border-style: solid;*/

      border: solid black 3px;

      font-family: sans-serif;
      width: 200px;
      height: 150px;
      text-align: center;
      padding: 75px
    }
  </style>

</head>


<body>

<%=yield %>


</body>

</html>

