<h3>Enter your name below:</h3>

<form action="/name"> 
	<!-- /name is the new directory that we want -->
	<input type ="test" name="user_name" paceholder ="Type your name">
</form>

<form action="/photos" method ="post">
	<input type ="file" name="photo">
	<input type ="submit" value="SUBMIT">
</form>