<!DOCTYPE html>
<html>
<head>
	<title>juice_shack</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<script src='javascripts/jquery.js'></script>
	<script src='javascripts/underscore.js'></script>
	<script src='javascripts/backbone.js'></script>

  <script id='juice_template' type='text/template'>
    This juice ingredients: <%= juice.ingredients %>
  </script>

  <script id='ingredient_template' type='text/template'>
    // Ingredients: <%= juice.ingredients %>
  </script>

	<script src='javascripts/app.js'></script>
</head>
<body>

  <div id="juice-holder">
    <ul id="juice-list">
    </ul>
  </div>

</body>
</html>
