<h1>Welcome to Eight Ball</h1>
<h2>Submit your question for the Magic Eight Ball below</h2>

<form action="/request">
  <input type ="text" name="user_question" placeholder="Your Question" style="padding: 10px;">
</form>
