
<h2>Bem-vindo!</h2>


<!-- THE PART THAT MATTERS -->
<h4>World Cup Player Registration</h4>
<div class='people-manager'>
  <ul class='people'>
  </ul>

  <form class='name-form'>
    <input type="text" name='name'>
    <input type="submit">
  </form>
</div>






