<html>
<head>
  <title>reBus</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <!--<h1>Blog</h1>
  <nav>
    <a href="/">all posts</a> |
    <a href="/posts/new">new post</a>
  </nav>-->
  <%= yield %>
</body>
</html>
