<div id="wrapper">
  <div id="container">
    <div id="header">
    </div>

      <div id="container">
      <h3> Enter an artist name! </h3>

        <form action="/results/">
          <input type="text" name="artist" placeholder="Artist Name"/>
          <!-- <input type="text" name="song" placeholder="Song Title"/> -->
          <input type="submit" placeholder="Search!"></button>
        </form>
      </div>
  </div>
</div>



